<a href="https://colab.research.google.com/github/Crusso22202/Real-Estate-Models/blob/main/WSP_Multifamily_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Imports

In [ ]:
pip install fredapi

Collecting fredapi
  Downloading fredapi-0.5.1-py3-none-any.whl (11 kB)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from fredapi) (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas->fredapi) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->fredapi) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas->fredapi) (2024.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas->fredapi) (1.25.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas->fredapi) (1.16.0)
Installing collected packages: fredapi
Successfully installed fredapi-0.5.1

In [ ]:
import pandas as pd
import numpy as np
from google.colab import drive
from datetime import datetime
from datetime import timedelta
from dateutil.relativedelta import relativedelta
import yfinance as yf
from fredapi import Fred

drive.mount('/content/drive')

Mounted at /content/drive

# **Historical Financial Data**

# Historical Financial Data Import

In [ ]:
pd.set_option('display.max_rows', None)
historical_financials_df = pd.read_csv("/content/drive/My Drive/Real Estate Modeling Historical Financials.csv")
historical_financials_df

,Unnamed: 0,1/31/19,2/28/19,3/31/19,4/30/19,5/31/19,6/30/19,7/31/19,8/31/19,9/30/19,10/31/19,11/30/19,12/31/19,Unnamed: 13
0,NaN,Actual,Actual,Actual,Actual,Actual,Actual,Actual,Actual,Actual,Actual,Actual,Actual,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,INCOME:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,RENTAL INCOME:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,GROSS POTENTIAL,"165,880.72","169,266.04","174,344.02","181,317.78","190,383.67","199,902.85","197,903.82","201,861.90","203,880.52","197,764.10","187,875.90","185,997.14",1.0
5,LOSS TO VACANCY,"-19,070.96","-19,460.16","-20,043.97","-20,845.73","-21,888.01","-22,982.41","-22,752.59","-23,207.64","-23,439.72","-22,736.53","-21,599.70","-21,383.70",2.0
6,LOSS TO LEASE,"-6,490.96","-6,623.43","-6,822.14","-7,095.02","-7,449.77","-7,822.26","-7,744.04","-7,898.92","-7,977.91","-7,738.57","-7,351.64","-7,278.13",1.0
7,UPFRONT CONCESSIONS,-79.65,-81.27,-83.71,-87.06,-91.41,-95.98,-95.02,-96.92,-97.89,-94.96,-90.21,-89.31,1.0
8,BAD DEBT,"-1,149.71","-1,173.17","-1,208.37","-1,256.70","-1,319.54","-1,385.51","-1,371.66","-1,399.09","-1,413.08","-1,370.69","-1,302.15","-1,289.13",4.0
9,MODEL / OFFICE RENT,"-1,128.43","-1,151.46","-1,186.00","-1,233.44","-1,295.12","-1,359.87","-1,346.27","-1,373.20","-1,386.93","-1,345.32","-1,278.06","-1,265.28",3.0
10,RECOVERY OF BAD DEBT,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,4.0
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,TOTAL RENTAL INCOME:,"137,961.01","140,776.54","144,999.83","150,799.83","158,339.82","166,256.81","164,594.24","167,886.13","169,564.99","164,478.04","156,254.14","154,691.59",NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,OTHER INCOME:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,LATE FEES,960.03,979.63,"1,009.01","1,049.38","1,101.84","1,156.94","1,145.37","1,168.27","1,179.96","1,144.56","1,087.33","1,076.46",6.0
16,APPLICATION FEES,312.90,319.29,328.86,342.02,359.12,377.08,373.30,380.77,384.58,373.04,354.39,350.85,6.0
17,MONTH TO MONTH FEES,279.90,285.62,294.18,305.95,321.25,337.31,333.94,340.62,344.02,333.70,317.02,313.85,6.0
18,SHORT TERM LEASE FEE,653.96,667.31,687.33,714.82,750.56,788.09,780.21,795.81,803.77,779.66,740.67,733.27,6.0
19,UTILITY PENALTY FEE,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,6.0
20,DEPOSIT FORFEITURE,184.90,188.67,194.33,202.10,212.21,222.82,220.59,225.00,227.25,220.43,209.41,207.32,6.0
21,ADMIN FEE,519.13,529.72,545.62,567.44,595.81,625.60,619.35,631.73,638.05,618.91,587.96,582.08,6.0
22,NON REFUNDABLE PET DEP,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,6.0
23,NSF CHECK FEES,28.45,29.03,29.90,31.09,32.65,34.28,33.94,34.62,34.96,33.91,32.22,31.90,6.0
24,PARKING & STORAGE FEES,469.92,479.51,493.89,513.65,539.33,566.30,560.64,571.85,577.57,560.24,532.23,526.91,6.0
25,CABLE,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,6.0
26,RENTERS INSURANCE,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,6.0
27,PET FEES,"1,213.77","1,238.54","1,275.69","1,326.72","1,393.06","1,462.71","1,448.08","1,477.05","1,491.82","1,447.06","1,374.71","1,360.96",6.0
28,PEST CONTROL REIMB,314.52,320.94,330.57,343.79,360.98,379.03,375.24,382.74,386.57,374.97,356.23,352.66,5.0
29,DAMAGES PAID BY TENANT,530.74,541.58,557.82,580.14,609.14,639.60,633.20,645.87,652.33,632.76,601.12,595.11,6.0
30,TERMINATION FEES,"3,453.46","3,523.94","3,629.66","3,774.84","3,963.58","4,161.76","4,120.15","4,202.55","4,244.57","4,117.24","3,911.37","3,872.26",6.0
31,LEGAL & COLLECTION REV,92.45,94.33,97.16,101.05,106.10,111.41,110.29,112.50,113.63,110.22,104.71,103.66,6.0
32,VACANT COST RECOVERY,-0.30,-0.30,-0.31,-0.32,-0.34,-0.36,-0.35,-0.36,-0.36,-0.35,-0.34,-0.33,6.0
33,RUBS - TRASH,"1,059.88","1,081.51","1,113.95","1,158.51","1,216.44","1,277.26","1,264.49","1,289.77","1,302.67","1,263.59","1,200.41","1,188.41",5.0
34,RUBS - WATER,"2,221.96","2,267.30","2,335.32","2,428.73","2,550.17","2,677.68","2,650.90","2,703.92","2,730.96","2,649.03","2,516.58","2,491.41",5.0
35,CLEANING FEES,35.56,36.28,37.37,38.87,40.81,42.85,42.42,43.27,43.70,42.39,40.27,39.87,6.0
36,MISCELLANEOUS INCOME,359.66,367.00,378.01,393.13,412.78,433.42,429.09,437.67,442.05,428.78,407.34,403.27,6.0
37,INTEREST INCOME,160.50,163.78,168.69,175.44,184.21,193.42,191.49,195.32,197.27,191.35,181.79,179.97,6.0
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,TOTAL OTHER INCOME,"12,851.38","13,113.65","13,507.06","14,047.34","14,749.71","15,487.19","15,332.32","15,638.97","15,795.36","15,321.50","14,555.42","14,409.87",NaN
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,TOTAL INCOME,"150,812.38","153,890.19","158,506.89","164,847.17","173,089.53","181,744.00","179,926.56","183,525.09","185,360.34","179,799.53","170,809.56","169,101.46",NaN
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,PROPERTY EXPENSES:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,REPAIRS & MAINTENANCE:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,HVAC,63.83,65.13,67.09,69.77,73.26,76.92,76.15,77.67,78.45,76.10,72.29,71.57,NaN
46,PLUMBING,62.71,63.99,65.91,68.55,71.97,75.57,74.82,76.31,77.08,74.76,71.03,70.32,NaN
47,CARPET REPAIR,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN
48,ELECTRIC,66.09,67.44,69.47,72.24,75.86,79.65,78.85,80.43,81.23,78.80,74.86,74.11,NaN
49,MAINTENANCE SUPPLIES,66.74,68.10,70.14,72.95,76.60,80.43,79.62,81.21,82.03,79.57,75.59,74.83,NaN
50,LIGHTING SUPPLIES,171.22,174.72,179.96,187.16,196.51,206.34,204.28,208.36,210.44,204.13,193.93,191.99,NaN
51,DOORS & WINDOWS,50.74,51.77,53.33,55.46,58.23,61.14,60.53,61.74,62.36,60.49,57.47,56.89,NaN
52,BLINDS & DRAPERIES,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN
53,ELEVATOR SERVICE,641.91,655.01,674.66,701.65,736.73,773.57,765.83,781.15,788.96,765.29,727.03,719.76,NaN
54,EXTERMINATION,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN
55,PAINTING - EXTERIOR,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN
56,UNIFORMS,120.60,123.06,126.75,131.82,138.41,145.34,143.88,146.76,148.23,143.78,136.59,135.23,NaN
57,GARAGE,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN
58,POOL,143.61,146.54,150.94,156.98,164.83,173.07,171.34,174.76,176.51,171.22,162.65,161.03,NaN
59,FIRE PREVENTION,201.39,205.50,211.67,220.14,231.14,242.70,240.27,245.08,247.53,240.10,228.10,225.82,NaN
60,CONTRACT CLEANING-COMMO,769.02,784.72,808.26,840.59,882.62,926.75,917.48,935.83,945.19,916.83,870.99,862.28,NaN
61,RECREATIONAL FACILITIES,122.46,124.96,128.71,133.86,140.55,147.58,146.10,149.02,150.51,146.00,138.70,137.31,NaN
62,EQUIPMENT REPAIR/GATES,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN
63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,TOTAL REPAIRS & MAINTENANCE,"2,480.33","2,530.95","2,606.88","2,711.16","2,846.72","2,989.05","2,959.16","3,018.34","3,048.53","2,957.07","2,809.22","2,781.13",7.0
65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,GROUNDS MAINTENANCE:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,LANDSCAPING,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN
68,LAWN CARE,"2,167.90","2,212.14","2,278.51","2,369.65","2,488.13","2,612.53","2,586.41","2,638.14","2,664.52","2,584.58","2,455.35","2,430.80",NaN
69,IRRIGATION REPAIRS,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN
70,SNOW REMOVAL,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN
71,SALT SUPPLY(ICE REMOVAL),0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN
72,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,TOTAL GROUNDS MAINTENANCE,"2,167.90","2,212.14","2,278.51","2,369.65","2,488.13","2,612.53","2,586.41","2,638.14","2,664.52","2,584.58","2,455.35","2,430.80",7.0
74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,APARTMENT TURN COSTS:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,CARPET CLEANING,246.05,251.07,258.61,268.95,282.40,296.52,293.55,299.42,302.42,293.35,278.68,275.89,NaN
77,PAINTING - INTERIOR APT,"1,163.42","1,187.16","1,222.78","1,271.69","1,335.27","1,402.04","1,388.02","1,415.78","1,429.93","1,387.04","1,317.68","1,304.51",NaN
78,PAINTING SUPPLIES,98.83,100.85,103.87,108.03,113.43,119.10,117.91,120.27,121.47,117.83,111.94,110.82,NaN
79,APPLIANCES - PARTS,15.30,15.61,16.08,16.72,17.56,18.44,18.25,18.62,18.81,18.24,17.33,17.16,NaN
80,LOCKS & KEYS,76.49,78.05,80.40,83.61,87.79,92.18,91.26,93.08,94.02,91.20,86.64,85.77,NaN
81,APARTMENT CLEANING,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN
82,CLEANING SUPPLIES,64.97,66.30,68.28,71.02,74.57,78.29,77.51,79.06,79.85,77.46,73.58,72.85,NaN
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,TOTAL APARTMENT TURN COSTS:,"1,665.07","1,699.05","1,750.02","1,820.02","1,911.02","2,006.57","1,986.50","2,026.23","2,046.50","1,985.10","1,885.85","1,866.99",8.0
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,LEASING COSTS:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,REFERRAL FEES,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN
88,PROMOTIONAL FEES,423.05,431.69,444.64,462.42,485.55,509.82,504.73,514.82,519.97,504.37,479.15,474.36,NaN
89,CREDIT REPORTS,152.45,155.56,160.23,166.64,174.97,183.72,181.88,185.52,187.37,181.75,172.66,170.94,NaN
90,ADVERTISING,752.99,768.35,791.41,823.06,864.21,907.43,898.35,916.32,925.48,897.72,852.83,844.30,NaN
91,MODEL EXPENSE,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93,TOTAL LEASING COSTS,"1,328.49","1,355.61","1,396.27","1,452.12","1,524.73","1,600.97","1,584.96","1,616.66","1,632.82","1,583.84","1,504.65","1,489.60",9.0
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95,GENERAL & ADMINISTRATIVE:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,COMPUTER & SOFTWARE,"1,321.57","1,348.54","1,389.00","1,444.56","1,516.78","1,592.62","1,576.70","1,608.23","1,624.31","1,575.58","1,496.80","1,481.84",NaN
97,TELEPHONE - BASIC,558.99,570.40,587.51,611.01,641.56,673.64,666.91,680.24,687.05,666.43,633.11,626.78,NaN
98,TELEPHONE - LONG DIST.,50.39,51.41,52.96,55.07,57.83,60.72,60.11,61.31,61.93,60.07,57.07,56.50,NaN
99,ANSWERING SERVICE,26.22,26.76,27.56,28.66,30.09,31.60,31.28,31.91,32.23,31.26,29.70,29.40,NaN
100,TRAINING,17.07,17.42,17.94,18.66,19.59,20.57,20.36,20.77,20.98,20.35,19.33,19.14,NaN
101,DUES/ SUBSCIPTION,266.68,272.12,280.28,291.49,306.07,321.37,318.16,324.52,327.77,317.93,302.04,299.02,NaN
102,TRAVEL,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN
103,MILEAGE REIMBURSEMENT,11.62,11.85,12.21,12.70,13.33,14.00,13.86,14.14,14.28,13.85,13.16,13.03,NaN
104,MEALS & ENTERTAINMENT,38.70,39.49,40.67,42.30,44.42,46.64,46.17,47.09,47.57,46.14,43.83,43.39,NaN
105,TENANT PARTIES,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN
106,EMPLOYEE BENEFITS/ACTIVITIES,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN
107,POSTAGE/COURIER,5.52,5.64,5.81,6.04,6.34,6.66,6.59,6.72,6.79,6.59,6.26,6.19,NaN
108,OFFICE SUPPLIES,195.40,199.39,205.37,213.59,224.27,235.48,233.13,237.79,240.17,232.96,221.31,219.10,NaN
109,ALARM SYSTEM,54.62,55.73,57.40,59.70,62.68,65.82,65.16,66.46,67.13,65.11,61.86,61.24,NaN
110,COPYING EXPENSE,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN
111,LICENSE & PERMITS,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN
112,NEW HIRE EXPENSES,33.13,33.80,34.82,36.21,38.02,39.92,39.52,40.31,40.72,39.49,37.52,37.14,NaN
113,BANK CHARGES,33.57,34.25,35.28,36.69,38.52,40.45,40.05,40.85,41.25,40.02,38.02,37.64,NaN
114,PAYMENT PROCESSING FEES,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN
115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116,TOTAL GENERAL & ADMINISTRATIVE,"2,613.46","2,666.80","2,746.80","2,856.68","2,999.51","3,149.49","3,117.99","3,180.35","3,212.15","3,115.79","2,960.00","2,930.40",10.0
117,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,PROPERTY PAYROLL:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,MAINTENANCE PAYROLL,"2,540.74","2,592.60","2,670.37","2,777.19","2,916.05","3,061.85","3,031.23","3,091.86","3,122.78","3,029.09","2,877.64","2,848.86",NaN
120,MAINTENANCE O/T,79.90,81.53,83.97,87.33,91.70,96.28,95.32,97.23,98.20,95.25,90.49,89.59,NaN
121,MAINTENANCE BONUS,51.20,52.25,53.81,55.97,58.77,61.70,61.09,62.31,62.93,61.04,57.99,57.41,NaN
122,PAYROLL OFFICE,"2,568.87","2,621.30","2,699.94","2,807.94","2,948.33","3,095.75","3,064.79","3,126.09","3,157.35","3,062.63","2,909.50","2,880.40",NaN
123,OFFICE O/T,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN
124,PAYROLL OFFICE BONUS,557.89,569.27,586.35,609.80,640.29,672.31,665.59,678.90,685.69,665.12,631.86,625.54,NaN
125,PAYROLL TAXES,475.09,484.79,499.33,519.31,545.27,572.53,566.81,578.15,583.93,566.41,538.09,532.71,NaN
126,PAYROLL ADMIN FEES,22.48,22.94,23.62,24.57,25.80,27.09,26.82,27.35,27.63,26.80,25.46,25.20,NaN
127,EMPLOYEE RENT,125.67,128.24,132.08,137.37,144.24,151.45,149.93,152.93,154.46,149.83,142.34,140.91,NaN
128,HEALTH INS. -COMPANY,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN
129,401K - COMPANY PORTION,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN
130,WORKERS COMPENSATION,127.15,129.75,133.64,138.98,145.93,153.23,151.70,154.73,156.28,151.59,144.01,142.57,NaN
131,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132,TOTAL PROPERTY PAYROLL,"6,549.00","6,682.65","6,883.13","7,158.45","7,516.38","7,892.20","7,813.27","7,969.54","8,049.23","7,807.76","7,417.37","7,343.20",11.0
133,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134,LEGAL & ACCOUNTING:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
135,EVICTION/FILING FEES,184.90,188.67,194.33,202.10,212.21,222.82,220.59,225.00,227.25,220.43,209.41,207.32,NaN
136,LEGAL EXPENSE,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN
137,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138,TOTAL LEGAL & ACCOUNTING,184.90,188.67,194.33,202.10,212.21,222.82,220.59,225.00,227.25,220.43,209.41,207.32,10.0
139,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
140,MANAGEMENT FEES:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
141,MANAGEMENT FEES,"4,524.37","4,616.70","4,755.20","4,945.41","5,192.68","5,452.32","5,397.79","5,505.75","5,560.81","5,393.98","5,124.28","5,073.04",NaN
142,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
143,TOTAL MANAGEMENT FEES,"4,524.37","4,616.70","4,755.20","4,945.41","5,192.68","5,452.32","5,397.79","5,505.75","5,560.81","5,393.98","5,124.28","5,073.04",12.0
144,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145,TOTAL PROPERTY EXPENSES,"21,513.52","21,952.57","22,611.14","23,515.59","24,691.37","25,925.94","25,666.68","26,180.01","26,441.81","25,648.56","24,366.13","24,122.47",NaN
146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147,UTILITIES:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
148,ELECTRICITY - PUBLIC,"1,759.49","1,795.40","1,849.26","1,923.23","2,019.39","2,120.36","2,099.16","2,141.14","2,162.55","2,097.68","1,992.79","1,972.86",NaN
149,ELECTRICITY - TENANT,166.94,170.35,175.46,182.48,191.60,201.18,199.17,203.16,205.19,199.03,189.08,187.19,NaN
150,WATER SEWER,"1,231.01","1,256.14","1,293.82","1,345.57","1,412.85","1,483.49","1,468.66","1,498.03","1,513.01","1,467.62","1,394.24","1,380.30",NaN
151,UTILITY PROCESSING FEE,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN
152,GAS,44.44,45.34,46.70,48.57,51.00,53.55,53.02,54.08,54.62,52.98,50.33,49.83,NaN
153,DISPOSAL SERVICE,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN
154,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
155,TOTAL UTILITIES,"3,201.88","3,267.23","3,365.25","3,499.86","3,674.85","3,858.59","3,820.00","3,896.40","3,935.37","3,817.31","3,626.44","3,590.18",13.0
156,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
157,TAXES & INSURANCE:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
158,REAL ESTATE TAXES,"25,956.46","26,486.19","27,280.77","28,372.00","29,790.60","31,280.13","30,967.33","31,586.68","31,902.55","30,945.47","29,398.20","29,104.21",14.0
159,PROPERTY INSURANCE,"2,140.52","2,184.20","2,249.73","2,339.72","2,456.70","2,579.54","2,553.74","2,604.82","2,630.87","2,551.94","2,424.34","2,400.10",15.0
160,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161,TOTAL TAXES & INSURANCE,"28,096.98","28,670.39","29,530.50","30,711.72","32,247.31","33,859.67","33,521.08","34,191.50","34,533.41","33,497.41","31,822.54","31,504.32",NaN

# TOTAL RENTAL INCOME

In [ ]:
Total_Rental_Income_df = pd.DataFrame(columns=historical_financials_df.columns)
Total_Rental_Income_df.loc[0, "Unnamed: 0"] = "Net Effective Rent"
Total_Rental_Income_df.loc[1, "Unnamed: 0"] = "Vacancy Loss"
Total_Rental_Income_df.loc[2, "Unnamed: 0"] = "Non-Revenue Units"
Total_Rental_Income_df.loc[3, "Unnamed: 0"] = "Bad Debt"
Total_Rental_Income_df.loc[4, "Unnamed: 0"] = "Total Rental Income"


historical_financials_df.columns = [*historical_financials_df.columns[:-1], 'Category']

# Create a copy of the filtered data to avoid SettingWithCopyWarning
category_1_data = historical_financials_df[historical_financials_df['Category'] == 1].copy()

def calculate_and_store_sums(df, category_number, row_index, target_df):
    # Filter data for the specific category
    category_data = df[df['Category'] == category_number].copy()

    # Clean the data by removing commas and converting to numeric
    category_data.replace(',', '', regex=True, inplace=True)
    for col in category_data.columns[1:-1]:  # Convert all financial columns to numeric
        category_data[col] = pd.to_numeric(category_data[col], errors='coerce')

    # Sum each column and store in the target DataFrame
    for col in category_data.columns[1:-1]:
        total = category_data[col].sum()
        target_df.loc[row_index, col] = total

# Assume historical_financials_df columns are already renamed to include 'Category'

# Calculating sums for each category
calculate_and_store_sums(historical_financials_df, 1, 0, Total_Rental_Income_df)  # Net Effective Rent
calculate_and_store_sums(historical_financials_df, 2, 1, Total_Rental_Income_df)  # Vacancy Loss
calculate_and_store_sums(historical_financials_df, 3, 2, Total_Rental_Income_df)  # Non-Revenue Units
calculate_and_store_sums(historical_financials_df, 4, 3, Total_Rental_Income_df)  # Bad Debt

# Optionally, compute the total rental income as the sum of relevant rows
# This assumes you want to sum the values of Net Effective Rent, Vacancy Loss, etc.
for col in Total_Rental_Income_df.columns[1:-1]:  # Skipping 'Unnamed: 0' and 'Category'
    Total_Rental_Income_df.loc[4, col] = Total_Rental_Income_df.loc[0:3, col].sum()

Total_Rental_Income_df = Total_Rental_Income_df.drop(Total_Rental_Income_df.columns[-1], axis=1)

Total_Rental_Income_df

,Unnamed: 0,1/31/19,2/28/19,3/31/19,4/30/19,5/31/19,6/30/19,7/31/19,8/31/19,9/30/19,10/31/19,11/30/19,12/31/19
0,Net Effective Rent,159310.11,162561.34,167438.17,174135.70,182842.49,191984.61,190064.76,193866.06,195804.72,189930.57,180434.05,178629.70
1,Vacancy Loss,-19070.96,-19460.16,-20043.97,-20845.73,-21888.01,-22982.41,-22752.59,-23207.64,-23439.72,-22736.53,-21599.70,-21383.70
2,Non-Revenue Units,-1128.43,-1151.46,-1186.00,-1233.44,-1295.12,-1359.87,-1346.27,-1373.20,-1386.93,-1345.32,-1278.06,-1265.28
3,Bad Debt,-1149.71,-1173.17,-1208.37,-1256.70,-1319.54,-1385.51,-1371.66,-1399.09,-1413.08,-1370.69,-1302.15,-1289.13
4,Total Rental Income,137961.01,140776.55,144999.83,150799.83,158339.82,166256.82,164594.24,167886.13,169564.99,164478.03,156254.14,154691.59

# TOTAL OTHER REVENUE

In [ ]:
Total_Other_Revenue_df = pd.DataFrame(columns=historical_financials_df.columns)
Total_Other_Revenue_df.loc[0, "Unnamed: 0"] = "Utility Reimbursement"
Total_Other_Revenue_df.loc[1, "Unnamed: 0"] = "Other Revenue"
Total_Other_Revenue_df.loc[2, "Unnamed: 0"] = "Total Other Revenue"

# Use the function with Total_Other_Revenue_df
calculate_and_store_sums(historical_financials_df, 5, 0, Total_Other_Revenue_df)  # Utility Reimbursement
calculate_and_store_sums(historical_financials_df, 6, 1, Total_Other_Revenue_df)  # Other Revenue

# Compute the total other revenue by summing the two previous rows
for col in Total_Other_Revenue_df.columns[1:-1]:  # Skipping 'Unnamed: 0' and 'Category'
    Total_Other_Revenue_df.loc[2, col] = Total_Other_Revenue_df.loc[0:1, col].sum()

Total_Other_Revenue_df = Total_Other_Revenue_df.drop(Total_Other_Revenue_df.columns[-1], axis=1)

Total_Other_Revenue_df

,Unnamed: 0,1/31/19,2/28/19,3/31/19,4/30/19,5/31/19,6/30/19,7/31/19,8/31/19,9/30/19,10/31/19,11/30/19,12/31/19
0,Utility Reimbursement,3596.36,3669.75,3779.84,3931.03,4127.59,4333.97,4290.63,4376.43,4420.20,4287.59,4073.22,4032.48
1,Other Revenue,9255.03,9443.93,9727.21,10116.32,10622.11,11153.23,11041.71,11262.54,11375.17,11033.90,10482.20,10377.41
2,Total Other Revenue,12851.39,13113.68,13507.05,14047.35,14749.70,15487.20,15332.34,15638.97,15795.37,15321.49,14555.42,14409.89

# TOTAL INCOME

In [ ]:
Total_Income_df = pd.DataFrame(columns=historical_financials_df.columns)
Total_Income_df.loc[0, "Unnamed: 0"] = "TOTAL INCOME"

# Sum the totals from the last rows of both dataframes for each column
for col in Total_Income_df.columns[1:-1]:  # Skip the first descriptive and last category column
    Total_Income_df.loc[0, col] = Total_Rental_Income_df.loc[4, col] + Total_Other_Revenue_df.loc[2, col]

Total_Income_df = Total_Income_df.drop(Total_Income_df.columns[-1], axis=1)

Total_Income_df

,Unnamed: 0,1/31/19,2/28/19,3/31/19,4/30/19,5/31/19,6/30/19,7/31/19,8/31/19,9/30/19,10/31/19,11/30/19,12/31/19
0,TOTAL INCOME,150812.40,153890.23,158506.88,164847.18,173089.52,181744.02,179926.58,183525.10,185360.36,179799.52,170809.56,169101.48

# TOTAL OPERATING EXPENSES

In [ ]:
Total_Operating_Expenses_df = pd.DataFrame(columns=historical_financials_df.columns)
Total_Operating_Expenses_df.loc[0, "Unnamed: 0"] = "Repairs & Maintenance"
Total_Operating_Expenses_df.loc[1, "Unnamed: 0"] = "Turnover"
Total_Operating_Expenses_df.loc[2, "Unnamed: 0"] = "Marketing"
Total_Operating_Expenses_df.loc[3, "Unnamed: 0"] = "General & Administrative"
Total_Operating_Expenses_df.loc[4, "Unnamed: 0"] = "Payroll"
Total_Operating_Expenses_df.loc[5, "Unnamed: 0"] = "Management Fees"
Total_Operating_Expenses_df.loc[6, "Unnamed: 0"] = "Utilities"
Total_Operating_Expenses_df.loc[7, "Unnamed: 0"] = "Real Estate Taxes"
Total_Operating_Expenses_df.loc[8, "Unnamed: 0"] = "Property Insurance"
Total_Operating_Expenses_df.loc[9, "Unnamed: 0"] = "Total Operating Expenses"

calculate_and_store_sums(historical_financials_df, 7, 0, Total_Operating_Expenses_df)
calculate_and_store_sums(historical_financials_df, 8, 1, Total_Operating_Expenses_df)
calculate_and_store_sums(historical_financials_df, 9, 2, Total_Operating_Expenses_df)
calculate_and_store_sums(historical_financials_df, 10, 3, Total_Operating_Expenses_df)
calculate_and_store_sums(historical_financials_df, 11, 4, Total_Operating_Expenses_df)
calculate_and_store_sums(historical_financials_df, 12, 5, Total_Operating_Expenses_df)
calculate_and_store_sums(historical_financials_df, 13, 6, Total_Operating_Expenses_df)
calculate_and_store_sums(historical_financials_df, 14, 7, Total_Operating_Expenses_df)
calculate_and_store_sums(historical_financials_df, 15, 8, Total_Operating_Expenses_df)

# Compute the total other revenue by summing the two previous rows
for col in Total_Operating_Expenses_df.columns[1:-1]:  # Skipping 'Unnamed: 0' and 'Category'
    Total_Operating_Expenses_df.loc[9, col] = Total_Operating_Expenses_df.loc[0:9, col].sum()

Total_Operating_Expenses_df = Total_Operating_Expenses_df.drop(Total_Operating_Expenses_df.columns[-1], axis=1)

Total_Operating_Expenses_df

,Unnamed: 0,1/31/19,2/28/19,3/31/19,4/30/19,5/31/19,6/30/19,7/31/19,8/31/19,9/30/19,10/31/19,11/30/19,12/31/19
0,Repairs & Maintenance,4648.23,4743.09,4885.39,5080.81,5334.85,5601.58,5545.57,5656.48,5713.05,5541.65,5264.57,5211.93
1,Turnover,1665.07,1699.05,1750.02,1820.02,1911.02,2006.57,1986.50,2026.23,2046.50,1985.10,1885.85,1866.99
2,Marketing,1328.49,1355.61,1396.27,1452.12,1524.73,1600.97,1584.96,1616.66,1632.82,1583.84,1504.65,1489.60
3,General & Administrative,2798.36,2855.47,2941.13,3058.78,3211.72,3372.31,3338.58,3405.35,3439.40,3336.22,3169.41,3137.72
4,Payroll,6549.00,6682.65,6883.13,7158.45,7516.38,7892.20,7813.27,7969.54,8049.23,7807.76,7417.37,7343.20
5,Management Fees,4524.37,4616.70,4755.20,4945.41,5192.68,5452.32,5397.79,5505.75,5560.81,5393.98,5124.28,5073.04
6,Utilities,3201.88,3267.23,3365.25,3499.86,3674.85,3858.59,3820.00,3896.40,3935.37,3817.31,3626.44,3590.18
7,Real Estate Taxes,25956.46,26486.19,27280.77,28372.00,29790.60,31280.13,30967.33,31586.68,31902.55,30945.47,29398.20,29104.21
8,Property Insurance,2140.52,2184.20,2249.73,2339.72,2456.70,2579.54,2553.74,2604.82,2630.87,2551.94,2424.34,2400.10
9,Total Operating Expenses,52812.38,53890.19,55506.89,57727.17,60613.53,63644.21,63007.74,64267.91,64910.60,62963.27,59815.11,59216.97

# NET OPERATING INCOME

In [ ]:
NOI_df = pd.DataFrame(columns=historical_financials_df.columns)
NOI_df.loc[0, "Unnamed: 0"] = "NET OPERATING INCOME"

# Sum the totals from the last rows of both dataframes for each column
for col in NOI_df.columns[1:-1]:  # Skip the first descriptive and last category column
    NOI_df.loc[0, col] = Total_Income_df.loc[Total_Income_df.index[-1], col] - Total_Operating_Expenses_df.loc[Total_Operating_Expenses_df.index[-1], col]

NOI_df = NOI_df.drop(NOI_df.columns[-1], axis=1)

NOI_df

,Unnamed: 0,1/31/19,2/28/19,3/31/19,4/30/19,5/31/19,6/30/19,7/31/19,8/31/19,9/30/19,10/31/19,11/30/19,12/31/19
0,NET OPERATING INCOME,98000.02,100000.04,102999.99,107120.01,112475.99,118099.81,116918.84,119257.19,120449.76,116836.25,110994.45,109884.51

# **INPUTS & DRIVERS**

# Property Overview

In [ ]:
Property_Overview_DF = pd.DataFrame(columns=['Property Overview'], index=['Name', 'Type', 'Location', 'Units', 'Year Built'])
units = 150
year_built = 2015
Property_Overview_DF.at['Name', 'Property Overview'] = "Multifamily Property"
Property_Overview_DF.at['Type', 'Property Overview'] = "Multifamily"
Property_Overview_DF.at['Location', 'Property Overview'] = "San Francisco, CA"
Property_Overview_DF.at['Units', 'Property Overview'] = units
Property_Overview_DF.at['Year Built', 'Property Overview'] = year_built

Property_Overview_DF

               Property Overview
Name        Multifamily Property
Type                 Multifamily
Location       San Francisco, CA
Units                        150
Year Built                  2015

# Acquisition Assumptions

In [ ]:
Acquisition_Assumptions_DF = pd.DataFrame(columns=['Acquisition Assumptions'], index=['Acquisition Date', 'Hold Period (Months)', 'Purchase Price', 'Price Per Unit', 'Acquisition Closing Costs (Percentage)'])
purchase_price = 22500000
hold_period = 60
Acquisition_closing_costs = 0.01
acquisition_date = '12/31/20'
acquisition_date1 = datetime.strptime(acquisition_date, '%m/%d/%y')
Acquisition_Assumptions_DF.at['Acquisition Date', 'Acquisition Assumptions'] = acquisition_date1
Acquisition_Assumptions_DF.at['Hold Period (Months)', 'Acquisition Assumptions'] = hold_period
Acquisition_Assumptions_DF.at['Purchase Price', 'Acquisition Assumptions'] = purchase_price
Acquisition_Assumptions_DF.at['Price Per Unit', 'Acquisition Assumptions'] = Acquisition_Assumptions_DF.at['Purchase Price', 'Acquisition Assumptions'] / units
Acquisition_Assumptions_DF.at['Acquisition Closing Costs (Percentage)', 'Acquisition Assumptions'] = Acquisition_closing_costs
Acquisition_Assumptions_DF

                                       Acquisition Assumptions
Acquisition Date                           2020-12-31 00:00:00
Hold Period (Months)                                        60
Purchase Price                                        22500000
Price Per Unit                                        150000.0
Acquisition Closing Costs (Percentage)                    0.01

# Renovation Budgets

Offensive Renovation Budget

In [ ]:
Offensive_Renovation_Budget_DF = pd.DataFrame(columns=['Per Unit', 'Total'], index=['Amount', 'Contingency', 'Subtotal'])
contingency = 0.1
Offensive_Renovation_Budget_DF.at['Amount', 'Total'] = 900000
Offensive_Renovation_Budget_DF.at['Amount', 'Per Unit'] = Offensive_Renovation_Budget_DF.at['Amount', 'Total'] / units
Offensive_Renovation_Budget_DF.at['Contingency', 'Total'] = Offensive_Renovation_Budget_DF.at['Amount', 'Total'] * contingency
Offensive_Renovation_Budget_DF.at['Contingency', 'Per Unit'] = Offensive_Renovation_Budget_DF.at['Contingency', 'Total'] / units
Offensive_Renovation_Budget_DF.at['Subtotal', 'Total'] = Offensive_Renovation_Budget_DF.loc[['Amount', 'Contingency'], 'Total'].sum()
Offensive_Renovation_Budget_DF.at['Subtotal', 'Per Unit'] = Offensive_Renovation_Budget_DF.loc[['Amount', 'Contingency'], 'Per Unit'].sum()


Offensive_Renovation_Budget_DF

            Per Unit     Total
Amount        6000.0    900000
Contingency    600.0   90000.0
Subtotal      6600.0  990000.0

Defensive Renovation Budget

In [ ]:
Defensive_Renovation_Budget_DF = pd.DataFrame(columns=['Per Unit', 'Total'], index=['Amount', 'Contingency', 'Subtotal'])
contingency = 0.1
Defensive_Renovation_Budget_DF.at['Amount', 'Total'] = 150000
Defensive_Renovation_Budget_DF.at['Amount', 'Per Unit'] = Defensive_Renovation_Budget_DF.at['Amount', 'Total'] / units
Defensive_Renovation_Budget_DF.at['Contingency', 'Total'] = Defensive_Renovation_Budget_DF.at['Amount', 'Total'] * contingency
Defensive_Renovation_Budget_DF.at['Contingency', 'Per Unit'] = Defensive_Renovation_Budget_DF.at['Contingency', 'Total'] / units
Defensive_Renovation_Budget_DF.at['Subtotal', 'Total'] = Defensive_Renovation_Budget_DF.loc[['Amount', 'Contingency'], 'Total'].sum()
Defensive_Renovation_Budget_DF.at['Subtotal', 'Per Unit'] = Defensive_Renovation_Budget_DF.loc[['Amount', 'Contingency'], 'Per Unit'].sum()

Defensive_Renovation_Budget_DF

            Per Unit     Total
Amount        1000.0    150000
Contingency    100.0   15000.0
Subtotal      1100.0  165000.0

Total Renovation Budget

In [ ]:
Total_Renovation_Budget_DF = pd.DataFrame(columns=['Per Unit', 'Total'], index=['Total'])
Total_Renovation_Budget_DF.at['Total', 'Total'] = Defensive_Renovation_Budget_DF.at['Subtotal', 'Total'] + Offensive_Renovation_Budget_DF.at['Subtotal', 'Total']
Total_Renovation_Budget_DF.at['Total', 'Per Unit'] = Total_Renovation_Budget_DF.at['Total', 'Total'] / units

Total_Renovation_Budget_DF

      Per Unit      Total
Total   7700.0  1155000.0

# Unit Mix

In [ ]:
Unit_Mix_DF = pd.DataFrame(columns=['Size', 'Count', '% of Total'], index=['Studio', '1BR 1 BA', '2 BR 2BA', '3 BR 2 BA', 'Total'])

Studio_size = 500
onebed_onebath_size = 750
twobed_twobath_size = 1250
threebed_threebath_size = 1500

Studio_count = 15
onebed_onebath_count = 80
twobed_twobath_count = 50
threebed_threebath_count = 5

# Set sizes
Unit_Mix_DF.at['Studio', 'Size'] = Studio_size
Unit_Mix_DF.at['1BR 1 BA', 'Size'] = onebed_onebath_size
Unit_Mix_DF.at['2 BR 2BA', 'Size'] = twobed_twobath_size
Unit_Mix_DF.at['3 BR 2 BA', 'Size'] = threebed_threebath_size

# Set counts
Unit_Mix_DF.at['Studio', 'Count'] = Studio_count
Unit_Mix_DF.at['1BR 1 BA', 'Count'] = onebed_onebath_count
Unit_Mix_DF.at['2 BR 2BA', 'Count'] = twobed_twobath_count
Unit_Mix_DF.at['3 BR 2 BA', 'Count'] = threebed_threebath_count

# Calculate total size and count
total_size = (Studio_size * Studio_count) + (onebed_onebath_size * onebed_onebath_count) + (twobed_twobath_size * twobed_twobath_count) + (threebed_threebath_size * threebed_threebath_count)
total_count = Studio_count + onebed_onebath_count + twobed_twobath_count + threebed_threebath_count

# Calculate percentage of total
Unit_Mix_DF['% of Total'] = (Unit_Mix_DF['Count']/ total_count) * 100

# Set total row
Unit_Mix_DF.at['Total', 'Size'] = total_size
Unit_Mix_DF.at['Total', 'Count'] = total_count
Unit_Mix_DF.at['Total', '% of Total'] = 100.0


Unit_Mix_DF

             Size Count % of Total
Studio        500    15       10.0
1BR 1 BA      750    80  53.333333
2 BR 2BA     1250    50  33.333333
3 BR 2 BA    1500     5   3.333333
Total      137500   150      100.0

# Financing Assumptions

In [ ]:
Financing_Assumptions_DF = pd.DataFrame(columns=[''], index=['Start Date', 'Term (Months)', 'Maturity Date', 'Loan-To-Value', 'Loan Amount', 'Interest Rate Spread (Basis Points)', 'All-in Rate', 'Fixed Rate', 'Interest Only Period (Months)', 'Amortization Period (Months)', 'Amortization Rate', 'Origination Fee', 'Loan Type'])

loan_term = 60
maturity_date = acquisition_date1 + relativedelta(months=loan_term)
LTV = 0.65
Loan_Amount = purchase_price * LTV
IR_Spread = 300
Fixed_Rate = 0.05
Interest_Only_Period = 24
Amortization_Period = 360
Amortization_Rate = 0.05
Origination_Fee = 0.01
loan_type = "Fixed"


Financing_Assumptions_DF.at['Start Date', ''] = acquisition_date1
Financing_Assumptions_DF.at['Term (Months)', ''] = loan_term
Financing_Assumptions_DF.at['Maturity Date', ''] = maturity_date
Financing_Assumptions_DF.at['Loan-To-Value', ''] = LTV
Financing_Assumptions_DF.at['Loan Amount', ''] = Loan_Amount
Financing_Assumptions_DF.at['Interest Rate Spread (Basis Points)', ''] = IR_Spread
Financing_Assumptions_DF.at['Fixed Rate', ''] = Fixed_Rate
Financing_Assumptions_DF.at['Interest Only Period (Months)', ''] = Interest_Only_Period
Financing_Assumptions_DF.at['Amortization Period (Months)', ''] = Amortization_Period
Financing_Assumptions_DF.at['Amortization Rate', ''] = Amortization_Rate
Financing_Assumptions_DF.at['Origination Fee', ''] = Origination_Fee
Financing_Assumptions_DF.at['Loan Type', ''] = loan_type


Financing_Assumptions_DF

Start Date                           2020-12-31 00:00:00
Term (Months)                                         60
Maturity Date                        2025-12-31 00:00:00
Loan-To-Value                                       0.65
Loan Amount                                   14625000.0
Interest Rate Spread (Basis Points)                  300
All-in Rate                                          NaN
Fixed Rate                                          0.05
Interest Only Period (Months)                         24
Amortization Period (Months)                         360
Amortization Rate                                   0.05
Origination Fee                                     0.01
Loan Type                                          Fixed

# SOFR Data Import

In [ ]:
# Initialize the Fred API
fred = Fred(api_key='2e7abe33c05598d3d63fe6ac38b35298')  # Replace 'your_api_key_here' with your FRED API key

# Retrieve historical data for SOFR
sofr_data = fred.get_series('SOFR')  # Secured Overnight Financing Rate (SOFR)
sofr_data = sofr_data.resample('M').last()


# Calculate the next sixty months with values incremented by 0.01
last_date = sofr_data.index[-1]
next_dates = pd.date_range(start=last_date + pd.DateOffset(months=1), periods=Amortization_Period, freq='M')
next_values = [sofr_data.iloc[-1] + i * 0.01 for i in range(Amortization_Period)]

# Create a Series for the next sixty months
next_sofr_data = pd.Series(next_values, index=next_dates)

# Concatenate the existing SOFR data with the next sixty months
sofr_data = pd.concat([sofr_data, next_sofr_data])
sofr_data = pd.DataFrame(sofr_data, columns = ['SOFR'])
sofr_data['All-in Rate'] = sofr_data['SOFR'] + (IR_Spread / 100)

sofr_data

            SOFR  All-in Rate
2018-04-30  1.77         4.77
2018-05-31  1.81         4.81
2018-06-30  2.12         5.12
2018-07-31  1.93         4.93
2018-08-31  1.97         4.97
2018-09-30  2.25         5.25
2018-10-31  2.22         5.22
2018-11-30  2.28         5.28
2018-12-31  3.00         6.00
2019-01-31  2.58         5.58
2019-02-28  2.58         5.58
2019-03-31  2.65         5.65
2019-04-30  2.76         5.76
2019-05-31  2.49         5.49
2019-06-30  2.50         5.50
2019-07-31  2.55         5.55
2019-08-31  2.16         5.16
2019-09-30  2.35         5.35
2019-10-31  1.76         4.76
2019-11-30  1.65         4.65
2019-12-31  1.55         4.55
2020-01-31  1.60         4.60
2020-02-29  1.60         4.60
2020-03-31  0.01         3.01
2020-04-30  0.04         3.04
2020-05-31  0.06         3.06
2020-06-30  0.10         3.10
2020-07-31  0.10         3.10
2020-08-31  0.09         3.09
2020-09-30  0.08         3.08
2020-10-31  0.09         3.09
2020-11-30  0.09         3.09
2020-12-31  0.07         3.07
2021-01-31  0.06         3.06
2021-02-28  0.01         3.01
2021-03-31  0.01         3.01
2021-04-30  0.01         3.01
2021-05-31  0.01         3.01
2021-06-30  0.05         3.05
2021-07-31  0.05         3.05
2021-08-31  0.05         3.05
2021-09-30  0.05         3.05
2021-10-31  0.05         3.05
2021-11-30  0.05         3.05
2021-12-31  0.05         3.05
2022-01-31  0.05         3.05
2022-02-28  0.05         3.05
2022-03-31  0.29         3.29
2022-04-30  0.28         3.28
2022-05-31  0.79         3.79
2022-06-30  1.50         4.50
2022-07-31  2.27         5.27
2022-08-31  2.29         5.29
2022-09-30  2.98         5.98
2022-10-31  3.05         6.05
2022-11-30  3.82         6.82
2022-12-31  4.30         7.30
2023-01-31  4.31         7.31
2023-02-28  4.55         7.55
2023-03-31  4.87         7.87
2023-04-30  4.81         7.81
2023-05-31  5.08         8.08
2023-06-30  5.09         8.09
2023-07-31  5.31         8.31
2023-08-31  5.31         8.31
2023-09-30  5.31         8.31
2023-10-31  5.35         8.35
2023-11-30  5.33         8.33
2023-12-31  5.38         8.38
2024-01-31  5.32         8.32
2024-02-29  5.32         8.32
2024-03-31  5.34         8.34
2024-04-30  5.31         8.31
2024-05-31  5.31         8.31
2024-06-30  5.32         8.32
2024-07-31  5.33         8.33
2024-08-31  5.34         8.34
2024-09-30  5.35         8.35
2024-10-31  5.36         8.36
2024-11-30  5.37         8.37
2024-12-31  5.38         8.38
2025-01-31  5.39         8.39
2025-02-28  5.40         8.40
2025-03-31  5.41         8.41
2025-04-30  5.42         8.42
2025-05-31  5.43         8.43
2025-06-30  5.44         8.44
2025-07-31  5.45         8.45
2025-08-31  5.46         8.46
2025-09-30  5.47         8.47
2025-10-31  5.48         8.48
2025-11-30  5.49         8.49
2025-12-31  5.50         8.50
2026-01-31  5.51         8.51
2026-02-28  5.52         8.52
2026-03-31  5.53         8.53
2026-04-30  5.54         8.54
2026-05-31  5.55         8.55
2026-06-30  5.56         8.56
2026-07-31  5.57         8.57
2026-08-31  5.58         8.58
2026-09-30  5.59         8.59
2026-10-31  5.60         8.60
2026-11-30  5.61         8.61
2026-12-31  5.62         8.62
2027-01-31  5.63         8.63
2027-02-28  5.64         8.64
2027-03-31  5.65         8.65
2027-04-30  5.66         8.66
2027-05-31  5.67         8.67
2027-06-30  5.68         8.68
2027-07-31  5.69         8.69
2027-08-31  5.70         8.70
2027-09-30  5.71         8.71
2027-10-31  5.72         8.72
2027-11-30  5.73         8.73
2027-12-31  5.74         8.74
2028-01-31  5.75         8.75
2028-02-29  5.76         8.76
2028-03-31  5.77         8.77
2028-04-30  5.78         8.78
2028-05-31  5.79         8.79
2028-06-30  5.80         8.80
2028-07-31  5.81         8.81
2028-08-31  5.82         8.82
2028-09-30  5.83         8.83
2028-10-31  5.84         8.84
2028-11-30  5.85         8.85
2028-12-31  5.86         8.86
2029-01-31  5.87         8.87
2029-02-28  5.88         8.88
2029-03-31  5.89         8.89
2029-04-30  5.90         8.90
2029-05-31  5.91         8.91
2029-06-30  5.92         8.92
2029-07-31  5.93         8.93
2029-08-31  5.94         8.94
2029-09-30  5.95         8.95
2029-10-31  5.96         8.96
2029-11-30  5.97         8.97
2029-12-31  5.98         8.98
2030-01-31  5.99         8.99
2030-02-28  6.00         9.00
2030-03-31  6.01         9.01
2030-04-30  6.02         9.02
2030-05-31  6.03         9.03
2030-06-30  6.04         9.04
2030-07-31  6.05         9.05
2030-08-31  6.06         9.06
2030-09-30  6.07         9.07
2030-10-31  6.08         9.08
2030-11-30  6.09         9.09
2030-12-31  6.10         9.10
2031-01-31  6.11         9.11
2031-02-28  6.12         9.12
2031-03-31  6.13         9.13
2031-04-30  6.14         9.14
2031-05-31  6.15         9.15
2031-06-30  6.16         9.16
2031-07-31  6.17         9.17
2031-08-31  6.18         9.18
2031-09-30  6.19         9.19
2031-10-31  6.20         9.20
2031-11-30  6.21         9.21
2031-12-31  6.22         9.22
2032-01-31  6.23         9.23
2032-02-29  6.24         9.24
2032-03-31  6.25         9.25
2032-04-30  6.26         9.26
2032-05-31  6.27         9.27
2032-06-30  6.28         9.28
2032-07-31  6.29         9.29
2032-08-31  6.30         9.30
2032-09-30  6.31         9.31
2032-10-31  6.32         9.32
2032-11-30  6.33         9.33
2032-12-31  6.34         9.34
2033-01-31  6.35         9.35
2033-02-28  6.36         9.36
2033-03-31  6.37         9.37
2033-04-30  6.38         9.38
2033-05-31  6.39         9.39
2033-06-30  6.40         9.40
2033-07-31  6.41         9.41
2033-08-31  6.42         9.42
2033-09-30  6.43         9.43
2033-10-31  6.44         9.44
2033-11-30  6.45         9.45
2033-12-31  6.46         9.46
2034-01-31  6.47         9.47
2034-02-28  6.48         9.48
2034-03-31  6.49         9.49
2034-04-30  6.50         9.50
2034-05-31  6.51         9.51
2034-06-30  6.52         9.52
2034-07-31  6.53         9.53
2034-08-31  6.54         9.54
2034-09-30  6.55         9.55
2034-10-31  6.56         9.56
2034-11-30  6.57         9.57
2034-12-31  6.58         9.58
2035-01-31  6.59         9.59
2035-02-28  6.60         9.60
2035-03-31  6.61         9.61
2035-04-30  6.62         9.62
2035-05-31  6.63         9.63
2035-06-30  6.64         9.64
2035-07-31  6.65         9.65
2035-08-31  6.66         9.66
2035-09-30  6.67         9.67
2035-10-31  6.68         9.68
2035-11-30  6.69         9.69
2035-12-31  6.70         9.70
2036-01-31  6.71         9.71
2036-02-29  6.72         9.72
2036-03-31  6.73         9.73
2036-04-30  6.74         9.74
2036-05-31  6.75         9.75
2036-06-30  6.76         9.76
2036-07-31  6.77         9.77
2036-08-31  6.78         9.78
2036-09-30  6.79         9.79
2036-10-31  6.80         9.80
2036-11-30  6.81         9.81
2036-12-31  6.82         9.82
2037-01-31  6.83         9.83
2037-02-28  6.84         9.84
2037-03-31  6.85         9.85
2037-04-30  6.86         9.86
2037-05-31  6.87         9.87
2037-06-30  6.88         9.88
2037-07-31  6.89         9.89
2037-08-31  6.90         9.90
2037-09-30  6.91         9.91
2037-10-31  6.92         9.92
2037-11-30  6.93         9.93
2037-12-31  6.94         9.94
2038-01-31  6.95         9.95
2038-02-28  6.96         9.96
2038-03-31  6.97         9.97
2038-04-30  6.98         9.98
2038-05-31  6.99         9.99
2038-06-30  7.00        10.00
2038-07-31  7.01        10.01
2038-08-31  7.02        10.02
2038-09-30  7.03        10.03
2038-10-31  7.04        10.04
2038-11-30  7.05        10.05
2038-12-31  7.06        10.06
2039-01-31  7.07        10.07
2039-02-28  7.08        10.08
2039-03-31  7.09        10.09
2039-04-30  7.10        10.10
2039-05-31  7.11        10.11
2039-06-30  7.12        10.12
2039-07-31  7.13        10.13
2039-08-31  7.14        10.14
2039-09-30  7.15        10.15
2039-10-31  7.16        10.16
2039-11-30  7.17        10.17
2039-12-31  7.18        10.18
2040-01-31  7.19        10.19
2040-02-29  7.20        10.20
2040-03-31  7.21        10.21
2040-04-30  7.22        10.22
2040-05-31  7.23        10.23
2040-06-30  7.24        10.24
2040-07-31  7.25        10.25
2040-08-31  7.26        10.26
2040-09-30  7.27        10.27
2040-10-31  7.28        10.28
2040-11-30  7.29        10.29
2040-12-31  7.30        10.30
2041-01-31  7.31        10.31
2041-02-28  7.32        10.32
2041-03-31  7.33        10.33
2041-04-30  7.34        10.34
2041-05-31  7.35        10.35
2041-06-30  7.36        10.36
2041-07-31  7.37        10.37
2041-08-31  7.38        10.38
2041-09-30  7.39        10.39
2041-10-31  7.40        10.40
2041-11-30  7.41        10.41
2041-12-31  7.42        10.42
2042-01-31  7.43        10.43
2042-02-28  7.44        10.44
2042-03-31  7.45        10.45
2042-04-30  7.46        10.46
2042-05-31  7.47        10.47
2042-06-30  7.48        10.48
2042-07-31  7.49        10.49
2042-08-31  7.50        10.50
2042-09-30  7.51        10.51
2042-10-31  7.52        10.52
2042-11-30  7.53        10.53
2042-12-31  7.54        10.54
2043-01-31  7.55        10.55
2043-02-28  7.56        10.56
2043-03-31  7.57        10.57
2043-04-30  7.58        10.58
2043-05-31  7.59        10.59
2043-06-30  7.60        10.60
2043-07-31  7.61        10.61
2043-08-31  7.62        10.62
2043-09-30  7.63        10.63
2043-10-31  7.64        10.64
2043-11-30  7.65        10.65
2043-12-31  7.66        10.66
2044-01-31  7.67        10.67
2044-02-29  7.68        10.68
2044-03-31  7.69        10.69
2044-04-30  7.70        10.70
2044-05-31  7.71        10.71
2044-06-30  7.72        10.72
2044-07-31  7.73        10.73
2044-08-31  7.74        10.74
2044-09-30  7.75        10.75
2044-10-31  7.76        10.76
2044-11-30  7.77        10.77
2044-12-31  7.78        10.78
2045-01-31  7.79        10.79
2045-02-28  7.80        10.80
2045-03-31  7.81        10.81
2045-04-30  7.82        10.82
2045-05-31  7.83        10.83
2045-06-30  7.84        10.84
2045-07-31  7.85        10.85
2045-08-31  7.86        10.86
2045-09-30  7.87        10.87
2045-10-31  7.88        10.88
2045-11-30  7.89        10.89
2045-12-31  7.90        10.90
2046-01-31  7.91        10.91
2046-02-28  7.92        10.92
2046-03-31  7.93        10.93
2046-04-30  7.94        10.94
2046-05-31  7.95        10.95
2046-06-30  7.96        10.96
2046-07-31  7.97        10.97
2046-08-31  7.98        10.98
2046-09-30  7.99        10.99
2046-10-31  8.00        11.00
2046-11-30  8.01        11.01
2046-12-31  8.02        11.02
2047-01-31  8.03        11.03
2047-02-28  8.04        11.04
2047-03-31  8.05        11.05
2047-04-30  8.06        11.06
2047-05-31  8.07        11.07
2047-06-30  8.08        11.08
2047-07-31  8.09        11.09
2047-08-31  8.10        11.10
2047-09-30  8.11        11.11
2047-10-31  8.12        11.12
2047-11-30  8.13        11.13
2047-12-31  8.14        11.14
2048-01-31  8.15        11.15
2048-02-29  8.16        11.16
2048-03-31  8.17        11.17
2048-04-30  8.18        11.18
2048-05-31  8.19        11.19
2048-06-30  8.20        11.20
2048-07-31  8.21        11.21
2048-08-31  8.22        11.22
2048-09-30  8.23        11.23
2048-10-31  8.24        11.24
2048-11-30  8.25        11.25
2048-12-31  8.26        11.26
2049-01-31  8.27        11.27
2049-02-28  8.28        11.28
2049-03-31  8.29        11.29
2049-04-30  8.30        11.30
2049-05-31  8.31        11.31
2049-06-30  8.32        11.32
2049-07-31  8.33        11.33
2049-08-31  8.34        11.34
2049-09-30  8.35        11.35
2049-10-31  8.36        11.36
2049-11-30  8.37        11.37
2049-12-31  8.38        11.38
2050-01-31  8.39        11.39
2050-02-28  8.40        11.40
2050-03-31  8.41        11.41
2050-04-30  8.42        11.42
2050-05-31  8.43        11.43
2050-06-30  8.44        11.44
2050-07-31  8.45        11.45
2050-08-31  8.46        11.46
2050-09-30  8.47        11.47
2050-10-31  8.48        11.48
2050-11-30  8.49        11.49
2050-12-31  8.50        11.50
2051-01-31  8.51        11.51
2051-02-28  8.52        11.52
2051-03-31  8.53        11.53
2051-04-30  8.54        11.54
2051-05-31  8.55        11.55
2051-06-30  8.56        11.56
2051-07-31  8.57        11.57
2051-08-31  8.58        11.58
2051-09-30  8.59        11.59
2051-10-31  8.60        11.60
2051-11-30  8.61        11.61
2051-12-31  8.62        11.62
2052-01-31  8.63        11.63
2052-02-29  8.64        11.64
2052-03-31  8.65        11.65
2052-04-30  8.66        11.66
2052-05-31  8.67        11.67
2052-06-30  8.68        11.68
2052-07-31  8.69        11.69
2052-08-31  8.70        11.70
2052-09-30  8.71        11.71
2052-10-31  8.72        11.72
2052-11-30  8.73        11.73
2052-12-31  8.74        11.74
2053-01-31  8.75        11.75
2053-02-28  8.76        11.76
2053-03-31  8.77        11.77
2053-04-30  8.78        11.78
2053-05-31  8.79        11.79
2053-06-30  8.80        11.80
2053-07-31  8.81        11.81
2053-08-31  8.82        11.82
2053-09-30  8.83        11.83
2053-10-31  8.84        11.84
2053-11-30  8.85        11.85
2053-12-31  8.86        11.86
2054-01-31  8.87        11.87
2054-02-28  8.88        11.88
2054-03-31  8.89        11.89
2054-04-30  8.90        11.90

# Amortization Table

In [ ]:
start_date = pd.to_datetime(acquisition_date, format='%m/%d/%y')

def build_amortization_table(Loan_Amount, Amortization_Rate, Amortization_Period, Interest_Only_Period, start_date):
    # Convert annual interest rate to monthly rate
    monthly_interest_rate = Amortization_Rate / 12

    # Calculate total number of payments (amortization period in months)
    total_payments = Amortization_Period

    # Calculate the loan payment using the formula
    loan_payment = Loan_Amount * (monthly_interest_rate * (1 + monthly_interest_rate) ** total_payments) / ((1 + monthly_interest_rate) ** total_payments - 1)

    # Initialize variables for the amortization table
    remaining_balance = Loan_Amount
    amortization_table = []

    # Add period 0 with the initial loan amount as the beginning balance
    amortization_table.append({
        'Date': start_date,
        'Period': 0,
        'Beginning Balance': Loan_Amount,
        'Principal Payment': 0,
        'Interest Payment': 0,
        'Total Payment': 0,  # No payments in period 0
        'Ending Balance': Loan_Amount
    })

    # Loop through each period (month) of the loan term
    for period in range(1, total_payments + 1):  # Start from period 1
        # Check if the current period is within the interest-only period
        if period <= Interest_Only_Period:
            # Only interest payment, no principal payment
            days_in_month = pd.Period(start_date + pd.DateOffset(months=period), 'M').days_in_month
            interest_payment = (Amortization_Rate / Amortization_Period) * days_in_month * remaining_balance
            principal_payment = 0
        else:
            # Regular payment with both principal and interest
            days_in_month = pd.Period(start_date + pd.DateOffset(months=period), 'M').days_in_month
            if loan_type == "Fixed":
                interest_payment = (Amortization_Rate / Amortization_Period) * days_in_month * remaining_balance
            elif loan_type == "Adjustable":
                # Get the adjustable rate for the current period from sofr_data
                adjustable_rate = sofr_data.loc[start_date + pd.DateOffset(months=period), 'All-in Rate'] / 100
                interest_payment = (adjustable_rate / Amortization_Period) * days_in_month * remaining_balance

            principal_payment = loan_payment - interest_payment

        # Update the remaining balance
        remaining_balance -= principal_payment

        # Record the values in the amortization table
        amortization_table.append({
            'Date': start_date + pd.DateOffset(months=period),
            'Period': period,
            'Beginning Balance': remaining_balance + principal_payment,
            'Principal Payment': principal_payment,
            'Interest Payment': interest_payment,
            'Total Payment': principal_payment + interest_payment,
            'Ending Balance': remaining_balance
        })

    return amortization_table

# Using start_date from your provided code
start_date = pd.to_datetime(acquisition_date, format='%m/%d/%y')

# Build the amortization table
amortization_table = build_amortization_table(Loan_Amount, Amortization_Rate, Amortization_Period, Interest_Only_Period, start_date)

# Convert the amortization table to a DataFrame
amortization_df = pd.DataFrame(amortization_table)

# Set the 'Date' column as the index
amortization_df.set_index('Date', inplace=True)
pd.set_option('display.float_format', lambda x: '%.2f' % x)

amortization_df

,Period,Beginning Balance,Principal Payment,Interest Payment,Total Payment,Ending Balance
Date,,,,,,
2020-12-31,0,14625000.00,0.00,0.00,0.00,14625000.00
2021-01-31,1,14625000.00,0.00,62968.75,62968.75,14625000.00
2021-02-28,2,14625000.00,0.00,56875.00,56875.00,14625000.00
2021-03-31,3,14625000.00,0.00,62968.75,62968.75,14625000.00
2021-04-30,4,14625000.00,0.00,60937.50,60937.50,14625000.00
2021-05-31,5,14625000.00,0.00,62968.75,62968.75,14625000.00
2021-06-30,6,14625000.00,0.00,60937.50,60937.50,14625000.00
2021-07-31,7,14625000.00,0.00,62968.75,62968.75,14625000.00
2021-08-31,8,14625000.00,0.00,62968.75,62968.75,14625000.00
2021-09-30,9,14625000.00,0.00,60937.50,60937.50,14625000.00
2021-10-31,10,14625000.00,0.00,62968.75,62968.75,14625000.00
2021-11-30,11,14625000.00,0.00,60937.50,60937.50,14625000.00
2021-12-31,12,14625000.00,0.00,62968.75,62968.75,14625000.00
2022-01-31,13,14625000.00,0.00,62968.75,62968.75,14625000.00
2022-02-28,14,14625000.00,0.00,56875.00,56875.00,14625000.00
2022-03-31,15,14625000.00,0.00,62968.75,62968.75,14625000.00
2022-04-30,16,14625000.00,0.00,60937.50,60937.50,14625000.00
2022-05-31,17,14625000.00,0.00,62968.75,62968.75,14625000.00
2022-06-30,18,14625000.00,0.00,60937.50,60937.50,14625000.00
2022-07-31,19,14625000.00,0.00,62968.75,62968.75,14625000.00
2022-08-31,20,14625000.00,0.00,62968.75,62968.75,14625000.00
2022-09-30,21,14625000.00,0.00,60937.50,60937.50,14625000.00
2022-10-31,22,14625000.00,0.00,62968.75,62968.75,14625000.00
2022-11-30,23,14625000.00,0.00,60937.50,60937.50,14625000.00
2022-12-31,24,14625000.00,0.00,62968.75,62968.75,14625000.00
2023-01-31,25,14625000.00,15541.41,62968.75,78510.16,14609458.59
2023-02-28,26,14609458.59,21695.60,56814.56,78510.16,14587762.99
2023-03-31,27,14587762.99,15701.74,62808.42,78510.16,14572061.25
2023-04-30,28,14572061.25,17793.24,60716.92,78510.16,14554268.01
2023-05-31,29,14554268.01,15845.95,62664.21,78510.16,14538422.05
2023-06-30,30,14538422.05,17933.40,60576.76,78510.16,14520488.65
2023-07-31,31,14520488.65,15991.39,62518.77,78510.16,14504497.26
2023-08-31,32,14504497.26,16060.24,62449.92,78510.16,14488437.02
2023-09-30,33,14488437.02,18141.67,60368.49,78510.16,14470295.34
2023-10-31,34,14470295.34,16207.50,62302.66,78510.16,14454087.84
2023-11-30,35,14454087.84,18284.80,60225.37,78510.16,14435803.04
2023-12-31,36,14435803.04,16356.01,62154.15,78510.16,14419447.03
2024-01-31,37,14419447.03,16426.43,62083.73,78510.16,14403020.60
2024-02-29,38,14403020.60,20498.00,58012.17,78510.16,14382522.60
2024-03-31,39,14382522.60,16585.41,61924.75,78510.16,14365937.19
2024-04-30,40,14365937.19,18652.09,59858.07,78510.16,14347285.10
2024-05-31,41,14347285.10,16737.13,61773.03,78510.16,14330547.97
2024-06-30,42,14330547.97,18799.55,59710.62,78510.16,14311748.43
2024-07-31,43,14311748.43,16890.13,61620.03,78510.16,14294858.29
2024-08-31,44,14294858.29,16962.86,61547.31,78510.16,14277895.44
2024-09-30,45,14277895.44,19018.93,59491.23,78510.16,14258876.50
2024-10-31,46,14258876.50,17117.78,61392.38,78510.16,14241758.73
2024-11-30,47,14241758.73,19169.50,59340.66,78510.16,14222589.23
2024-12-31,48,14222589.23,17274.01,61236.15,78510.16,14205315.21
2025-01-31,49,14205315.21,17348.39,61161.77,78510.16,14187966.82
2025-02-28,50,14187966.82,23334.74,55175.43,78510.16,14164632.09
2025-03-31,51,14164632.09,17523.55,60986.61,78510.16,14147108.54
2025-04-30,52,14147108.54,19563.88,58946.29,78510.16,14127544.66
2025-05-31,53,14127544.66,17683.23,60826.93,78510.16,14109861.42
2025-06-30,54,14109861.42,19719.07,58791.09,78510.16,14090142.35
2025-07-31,55,14090142.35,17844.27,60665.89,78510.16,14072298.08
2025-08-31,56,14072298.08,17921.10,60589.06,78510.16,14054376.98
2025-09-30,57,14054376.98,19950.26,58559.90,78510.16,14034426.72
2025-10-31,58,14034426.72,18084.16,60426.00,78510.16,14016342.56
2025-11-30,59,14016342.56,20108.74,58401.43,78510.16,13996233.83
2025-12-31,60,13996233.83,18248.60,60261.56,78510.16,13977985.23
2026-01-31,61,13977985.23,18327.17,60182.99,78510.16,13959658.06
2026-02-28,62,13959658.06,24222.60,54287.56,78510.16,13935435.45
2026-03-31,63,13935435.45,18510.37,59999.79,78510.16,13916925.08
2026-04-30,64,13916925.08,20522.97,57987.19,78510.16,13896402.11
2026-05-31,65,13896402.11,18678.43,59831.73,78510.16,13877723.68
2026-06-30,66,13877723.68,20686.31,57823.85,78510.16,13857037.36
2026-07-31,67,13857037.36,18847.92,59662.24,78510.16,13838189.44
2026-08-31,68,13838189.44,18929.07,59581.09,78510.16,13819260.38
2026-09-30,69,13819260.38,20929.91,57580.25,78510.16,13798330.46
2026-10-31,70,13798330.46,19100.68,59409.48,78510.16,13779229.78
2026-11-30,71,13779229.78,21096.70,57413.46,78510.16,13758133.08
2026-12-31,72,13758133.08,19273.76,59236.41,78510.16,13738859.32
2027-01-31,73,13738859.32,19356.74,59153.42,78510.16,13719502.58
2027-02-28,74,13719502.58,25156.54,53353.62,78510.16,13694346.04
2027-03-31,75,13694346.04,19548.39,58961.77,78510.16,13674797.64
2027-04-30,76,13674797.64,21531.84,56978.32,78510.16,13653265.80
2027-05-31,77,13653265.80,19725.27,58784.89,78510.16,13633540.54
2027-06-30,78,13633540.54,21703.74,56806.42,78510.16,13611836.79
2027-07-31,79,13611836.79,19903.64,58606.52,78510.16,13591933.15
2027-08-31,80,13591933.15,19989.34,58520.82,78510.16,13571943.81
2027-09-30,81,13571943.81,21960.40,56549.77,78510.16,13549983.41
2027-10-31,82,13549983.41,20169.96,58340.21,78510.16,13529813.46
2027-11-30,83,13529813.46,22135.94,56374.22,78510.16,13507677.52
2027-12-31,84,13507677.52,20352.11,58158.06,78510.16,13487325.41
2028-01-31,85,13487325.41,20439.73,58070.43,78510.16,13466885.68
2028-02-29,86,13466885.68,24268.54,54241.62,78510.16,13442617.14
2028-03-31,87,13442617.14,20632.23,57877.93,78510.16,13421984.91
2028-04-30,88,13421984.91,22585.23,55924.94,78510.16,13399399.69
2028-05-31,89,13399399.69,20818.30,57691.86,78510.16,13378581.38
2028-06-30,90,13378581.38,22766.07,55744.09,78510.16,13355815.31
2028-07-31,91,13355815.31,21005.96,57504.20,78510.16,13334809.35
2028-08-31,92,13334809.35,21096.40,57413.76,78510.16,13313712.95
2028-09-30,93,13313712.95,23036.36,55473.80,78510.16,13290676.60
2028-10-31,94,13290676.60,21286.42,57223.75,78510.16,13269390.18
2028-11-30,95,13269390.18,23221.04,55289.13,78510.16,13246169.14
2028-12-31,96,13246169.14,21478.05,57032.12,78510.16,13224691.10
2029-01-31,97,13224691.10,21570.52,56939.64,78510.16,13203120.58
2029-02-28,98,13203120.58,27164.69,51345.47,78510.16,13175955.88
2029-03-31,99,13175955.88,21780.35,56729.81,78510.16,13154175.53
2029-04-30,100,13154175.53,23701.10,54809.06,78510.16,13130474.43
2029-05-31,101,13130474.43,21976.18,56533.99,78510.16,13108498.26
2029-06-30,102,13108498.26,23891.42,54618.74,78510.16,13084606.84
2029-07-31,103,13084606.84,22173.66,56336.50,78510.16,13062433.18
2029-08-31,104,13062433.18,22269.13,56241.03,78510.16,13040164.05
2029-09-30,105,13040164.05,24176.15,54334.02,78510.16,13015987.90
2029-10-31,106,13015987.90,22469.10,56041.06,78510.16,12993518.80
2029-11-30,107,12993518.80,24370.50,54139.66,78510.16,12969148.30
2029-12-31,108,12969148.30,22670.77,55839.39,78510.16,12946477.52
2030-01-31,109,12946477.52,22768.38,55741.78,78510.16,12923709.14
2030-02-28,110,12923709.14,28251.29,50258.87,78510.16,12895457.85
2030-03-31,111,12895457.85,22988.05,55522.11,78510.16,12872469.79
2030-04-30,112,12872469.79,24874.87,53635.29,78510.16,12847594.92
2030-05-31,113,12847594.92,23194.13,55316.03,78510.16,12824400.79
2030-06-30,114,12824400.79,25075.16,53435.00,78510.16,12799325.64
2030-07-31,115,12799325.64,23401.95,55108.21,78510.16,12775923.68
2030-08-31,116,12775923.68,23502.71,55007.45,78510.16,12752420.97
2030-09-30,117,12752420.97,25375.08,53135.09,78510.16,12727045.89
2030-10-31,118,12727045.89,23713.16,54797.00,78510.16,12703332.73
2030-11-30,119,12703332.73,25579.61,52930.55,78510.16,12677753.12
2030-12-31,120,12677753.12,23925.39,54584.77,78510.16,12653827.73
2031-01-31,121,12653827.73,24028.40,54481.76,78510.16,12629799.33
2031-02-28,122,12629799.33,29394.28,49115.89,78510.16,12600405.05
2031-03-31,123,12600405.05,24258.42,54251.74,78510.16,12576146.63
2031-04-30,124,12576146.63,26109.55,52400.61,78510.16,12550037.08
2031-05-31,125,12550037.08,24475.28,54034.88,78510.16,12525561.80
2031-06-30,126,12525561.80,26320.32,52189.84,78510.16,12499241.48
2031-07-31,127,12499241.48,24693.98,53816.18,78510.16,12474547.50
2031-08-31,128,12474547.50,24800.31,53709.86,78510.16,12449747.19
2031-09-30,129,12449747.19,26636.22,51873.95,78510.16,12423110.98
2031-10-31,130,12423110.98,25021.77,53488.39,78510.16,12398089.21
2031-11-30,131,12398089.21,26851.46,51658.71,78510.16,12371237.75
2031-12-31,132,12371237.75,25245.11,53265.05,78510.16,12345992.64
2032-01-31,133,12345992.64,25353.81,53156.36,78510.16,12320638.83
2032-02-29,134,12320638.83,28885.37,49624.80,78510.16,12291753.47
2032-03-31,135,12291753.47,25587.33,52922.83,78510.16,12266166.13
2032-04-30,136,12266166.13,27401.14,51109.03,78510.16,12238765.00
2032-05-31,137,12238765.00,25815.48,52694.68,78510.16,12212949.52
2032-06-30,138,12212949.52,27622.87,50887.29,78510.16,12185326.64
2032-07-31,139,12185326.64,26045.56,52464.60,78510.16,12159281.08
2032-08-31,140,12159281.08,26157.70,52352.46,78510.16,12133123.38
2032-09-30,141,12133123.38,27955.48,50554.68,78510.16,12105167.90
2032-10-31,142,12105167.90,26390.69,52119.47,78510.16,12078777.21
2032-11-30,143,12078777.21,28181.92,50328.24,78510.16,12050595.28
2032-12-31,144,12050595.28,26625.65,51884.51,78510.16,12023969.63
2033-01-31,145,12023969.63,26740.29,51769.87,78510.16,11997229.34
2033-02-28,146,11997229.34,31854.27,46655.89,78510.16,11965375.07
2033-03-31,147,11965375.07,26992.58,51517.59,78510.16,11938382.49
2033-04-30,148,11938382.49,28766.90,49743.26,78510.16,11909615.59
2033-05-31,149,11909615.59,27232.65,51277.51,78510.16,11882382.94
2033-06-30,150,11882382.94,29000.23,49509.93,78510.16,11853382.70
2033-07-31,151,11853382.70,27474.76,51035.40,78510.16,11825907.94
2033-08-31,152,11825907.94,27593.06,50917.10,78510.16,11798314.88
2033-09-30,153,11798314.88,29350.52,49159.65,78510.16,11768964.36
2033-10-31,154,11768964.36,27838.23,50671.93,78510.16,11741126.13
2033-11-30,155,11741126.13,29588.80,48921.36,78510.16,11711537.33
2033-12-31,156,11711537.33,28085.49,50424.67,78510.16,11683451.84
2034-01-31,157,11683451.84,28206.41,50303.75,78510.16,11655245.43
2034-02-28,158,11655245.43,33184.21,45325.95,78510.16,11622061.22
2034-03-31,159,11622061.22,28470.73,50039.43,78510.16,11593590.49
2034-04-30,160,11593590.49,30203.54,48306.63,78510.16,11563386.95
2034-05-31,161,11563386.95,28723.36,49786.80,78510.16,11534663.60
2034-06-30,162,11534663.60,30449.06,48061.10,78510.16,11504214.53
2034-07-31,163,11504214.53,28978.13,49532.03,78510.16,11475236.40
2034-08-31,164,11475236.40,29102.89,49407.27,78510.16,11446133.51
2034-09-30,165,11446133.51,30817.94,47692.22,78510.16,11415315.57
2034-10-31,166,11415315.57,29360.89,49149.28,78510.16,11385954.68
2034-11-30,167,11385954.68,31068.68,47441.48,78510.16,11354886.00
2034-12-31,168,11354886.00,29621.07,48889.09,78510.16,11325264.93
2035-01-31,169,11325264.93,29748.61,48761.56,78510.16,11295516.32
2035-02-28,170,11295516.32,34583.15,43927.01,78510.16,11260933.17
2035-03-31,171,11260933.17,30025.59,48484.57,78510.16,11230907.58
2035-04-30,172,11230907.58,31714.71,46795.45,78510.16,11199192.87
2035-05-31,173,11199192.87,30291.42,48218.75,78510.16,11168901.45
2035-06-30,174,11168901.45,31973.07,46537.09,78510.16,11136928.38
2035-07-31,175,11136928.38,30559.50,47950.66,78510.16,11106368.88
2035-08-31,176,11106368.88,30691.07,47819.09,78510.16,11075677.81
2035-09-30,177,11075677.81,32361.50,46148.66,78510.16,11043316.30
2035-10-31,178,11043316.30,30962.55,47547.61,78510.16,11012353.75
2035-11-30,179,11012353.75,32625.36,45884.81,78510.16,10979728.40
2035-12-31,180,10979728.40,31236.33,47273.83,78510.16,10948492.06
2036-01-31,181,10948492.06,31370.82,47139.34,78510.16,10917121.24
2036-02-29,182,10917121.24,34538.42,43971.74,78510.16,10882582.82
2036-03-31,183,10882582.82,31654.60,46855.56,78510.16,10850928.22
2036-04-30,184,10850928.22,33297.96,45212.20,78510.16,10817630.26
2036-05-31,185,10817630.26,31934.25,46575.91,78510.16,10785696.00
2036-06-30,186,10785696.00,33569.76,44940.40,78510.16,10752126.24
2036-07-31,187,10752126.24,32216.29,46293.88,78510.16,10719909.96
2036-08-31,188,10719909.96,32354.99,46155.17,78510.16,10687554.96
2036-09-30,189,10687554.96,33978.68,44531.48,78510.16,10653576.28
2036-10-31,190,10653576.28,32640.60,45869.56,78510.16,10620935.68
2036-11-30,191,10620935.68,34256.26,44253.90,78510.16,10586679.42
2036-12-31,192,10586679.42,32928.63,45581.54,78510.16,10553750.79
2037-01-31,193,10553750.79,33070.40,45439.76,78510.16,10520680.39
2037-02-28,194,10520680.39,37596.41,40913.76,78510.16,10483083.98
2037-03-31,195,10483083.98,33374.66,45135.50,78510.16,10449709.32
2037-04-30,196,10449709.32,34969.71,43540.46,78510.16,10414739.62
2037-05-31,197,10414739.62,33668.92,44841.24,78510.16,10381070.69
2037-06-30,198,10381070.69,35255.70,43254.46,78510.16,10345814.99
2037-07-31,199,10345814.99,33965.68,44544.48,78510.16,10311849.31
2037-08-31,200,10311849.31,34111.92,44398.24,78510.16,10277737.39
2037-09-30,201,10277737.39,35686.26,42823.91,78510.16,10242051.13
2037-10-31,202,10242051.13,34412.44,44097.72,78510.16,10207638.69
2037-11-30,203,10207638.69,35978.33,42531.83,78510.16,10171660.36
2037-12-31,204,10171660.36,34715.51,43794.65,78510.16,10136944.84
2038-01-31,205,10136944.84,34864.98,43645.18,78510.16,10102079.86
2038-02-28,206,10102079.86,39224.30,39285.87,78510.16,10062855.56
2038-03-31,207,10062855.56,35183.98,43326.18,78510.16,10027671.58
2038-04-30,208,10027671.58,36728.20,41781.96,78510.16,9990943.39
2038-05-31,209,9990943.39,35493.60,43016.56,78510.16,9955449.79
2038-06-30,210,9955449.79,37029.12,41481.04,78510.16,9918420.66
2038-07-31,211,9918420.66,35805.85,42704.31,78510.16,9882614.81
2038-08-31,212,9882614.81,35960.02,42550.15,78510.16,9846654.80
2038-09-30,213,9846654.80,37482.43,41027.73,78510.16,9809172.36
2038-10-31,214,9809172.36,36276.23,42233.94,78510.16,9772896.14
2038-11-30,215,9772896.14,37789.76,40720.40,78510.16,9735106.38
2038-12-31,216,9735106.38,36595.12,41915.04,78510.16,9698511.25
2039-01-31,217,9698511.25,36752.68,41757.48,78510.16,9661758.57
2039-02-28,218,9661758.57,40936.66,37573.51,78510.16,9620821.91
2039-03-31,219,9620821.91,37087.18,41422.98,78510.16,9583734.74
2039-04-30,220,9583734.74,38577.93,39932.23,78510.16,9545156.80
2039-05-31,221,9545156.80,37412.96,41097.20,78510.16,9507743.84
2039-06-30,222,9507743.84,38894.56,39615.60,78510.16,9468849.28
2039-07-31,223,9468849.28,37741.51,40768.66,78510.16,9431107.77
2039-08-31,224,9431107.77,37904.00,40606.16,78510.16,9393203.77
2039-09-30,225,9393203.77,39371.81,39138.35,78510.16,9353831.96
2039-10-31,226,9353831.96,38236.72,40273.44,78510.16,9315595.24
2039-11-30,227,9315595.24,39695.18,38814.98,78510.16,9275900.05
2039-12-31,228,9275900.05,38572.26,39937.90,78510.16,9237327.79
2040-01-31,229,9237327.79,38738.33,39771.83,78510.16,9198589.46
2040-02-29,230,9198589.46,41460.29,37049.87,78510.16,9157129.17
2040-03-31,231,9157129.17,39083.63,39426.53,78510.16,9118045.54
2040-04-30,232,9118045.54,40518.31,37991.86,78510.16,9077527.23
2040-05-31,233,9077527.23,39426.36,39083.80,78510.16,9038100.87
2040-06-30,234,9038100.87,40851.41,37658.75,78510.16,8997249.46
2040-07-31,235,8997249.46,39772.00,38738.16,78510.16,8957477.45
2040-08-31,236,8957477.45,39943.25,38566.92,78510.16,8917534.21
2040-09-30,237,8917534.21,41353.77,37156.39,78510.16,8876180.44
2040-10-31,238,8876180.44,40293.27,38216.89,78510.16,8835887.16
2040-11-30,239,8835887.16,41693.97,36816.20,78510.16,8794193.20
2040-12-31,240,8794193.20,40646.27,37863.89,78510.16,8753546.92
2041-01-31,241,8753546.92,40821.28,37688.88,78510.16,8712725.64
2041-02-28,242,8712725.64,44627.34,33882.82,78510.16,8668098.30
2041-03-31,243,8668098.30,41189.18,37320.98,78510.16,8626909.12
2041-04-30,244,8626909.12,42564.71,35945.45,78510.16,8584344.41
2041-05-31,245,8584344.41,41549.79,36960.37,78510.16,8542794.62
2041-06-30,246,8542794.62,42915.18,35594.98,78510.16,8499879.44
2041-07-31,247,8499879.44,41913.46,36596.70,78510.16,8457965.98
2041-08-31,248,8457965.98,42093.92,36416.24,78510.16,8415872.06
2041-09-30,249,8415872.06,43444.03,35066.13,78510.16,8372428.03
2041-10-31,250,8372428.03,42462.21,36047.95,78510.16,8329965.82
2041-11-30,251,8329965.82,43801.97,34708.19,78510.16,8286163.85
2041-12-31,252,8286163.85,42833.62,35676.54,78510.16,8243330.23
2042-01-31,253,8243330.23,43018.05,35492.12,78510.16,8200312.18
2042-02-28,254,8200312.18,46620.06,31890.10,78510.16,8153692.12
2042-03-31,255,8153692.12,43403.99,35106.17,78510.16,8110288.13
2042-04-30,256,8110288.13,44717.30,33792.87,78510.16,8065570.84
2042-05-31,257,8065570.84,43783.40,34726.76,78510.16,8021787.44
2042-06-30,258,8021787.44,45086.05,33424.11,78510.16,7976701.39
2042-07-31,259,7976701.39,44166.03,34344.13,78510.16,7932535.36
2042-08-31,260,7932535.36,44356.19,34153.97,78510.16,7888179.17
2042-09-30,261,7888179.17,45642.75,32867.41,78510.16,7842536.42
2042-10-31,262,7842536.42,44743.69,33766.48,78510.16,7797792.73
2042-11-30,263,7797792.73,46019.36,32490.80,78510.16,7751773.37
2042-12-31,264,7751773.37,45134.47,33375.69,78510.16,7706638.90
2043-01-31,265,7706638.90,45328.80,33181.36,78510.16,7661310.10
2043-02-28,266,7661310.10,48716.18,29793.98,78510.16,7612593.92
2043-03-31,267,7612593.92,45733.72,32776.45,78510.16,7566860.21
2043-04-30,268,7566860.21,46981.58,31528.58,78510.16,7519878.63
2043-05-31,269,7519878.63,46132.91,32377.26,78510.16,7473745.72
2043-06-30,270,7473745.72,47369.56,31140.61,78510.16,7426376.17
2043-07-31,271,7426376.17,46535.49,31974.68,78510.16,7379840.68
2043-08-31,272,7379840.68,46735.85,31774.31,78510.16,7333104.83
2043-09-30,273,7333104.83,47955.56,30554.60,78510.16,7285149.27
2043-10-31,274,7285149.27,47143.55,31366.61,78510.16,7238005.72
2043-11-30,275,7238005.72,48351.81,30158.36,78510.16,7189653.92
2043-12-31,276,7189653.92,47554.71,30955.45,78510.16,7142099.21
2044-01-31,277,7142099.21,47759.46,30750.70,78510.16,7094339.75
2044-02-29,278,7094339.75,49935.74,28574.42,78510.16,7044404.01
2044-03-31,279,7044404.01,48180.09,30330.07,78510.16,6996223.93
2044-04-30,280,6996223.93,49359.23,29150.93,78510.16,6946864.70
2044-05-31,281,6946864.70,48600.05,29910.11,78510.16,6898264.65
2044-06-30,282,6898264.65,49767.39,28742.77,78510.16,6848497.25
2044-07-31,283,6848497.25,49023.58,29486.59,78510.16,6799473.68
2044-08-31,284,6799473.68,49234.65,29275.51,78510.16,6750239.02
2044-09-30,285,6750239.02,50384.17,28126.00,78510.16,6699854.86
2044-10-31,286,6699854.86,49663.57,28846.60,78510.16,6650191.29
2044-11-30,287,6650191.29,50801.03,27709.13,78510.16,6599390.26
2044-12-31,288,6599390.26,50096.12,28414.04,78510.16,6549294.14
2045-01-31,289,6549294.14,50311.81,28198.35,78510.16,6498982.33
2045-02-28,290,6498982.33,53236.34,25273.82,78510.16,6445745.99
2045-03-31,291,6445745.99,50757.64,27752.52,78510.16,6394988.34
2045-04-30,292,6394988.34,51864.38,26645.78,78510.16,6343123.96
2045-05-31,293,6343123.96,51199.49,27310.67,78510.16,6291924.47
2045-06-30,294,6291924.47,52293.81,26216.35,78510.16,6239630.66
2045-07-31,295,6239630.66,51645.09,26865.08,78510.16,6187985.58
2045-08-31,296,6187985.58,51867.45,26642.72,78510.16,6136118.13
2045-09-30,297,6136118.13,52943.00,25567.16,78510.16,6083175.13
2045-10-31,298,6083175.13,52318.71,26191.45,78510.16,6030856.41
2045-11-30,299,6030856.41,53381.59,25128.57,78510.16,5977474.82
2045-12-31,300,5977474.82,52773.81,25736.35,78510.16,5924701.01
2046-01-31,301,5924701.01,53001.03,25509.13,78510.16,5871699.97
2046-02-28,302,5871699.97,55675.77,22834.39,78510.16,5816024.20
2046-03-31,303,5816024.20,53468.95,25041.22,78510.16,5762555.25
2046-04-30,304,5762555.25,54499.52,24010.65,78510.16,5708055.74
2046-05-31,305,5708055.74,53933.81,24576.35,78510.16,5654121.93
2046-06-30,306,5654121.93,54951.32,23558.84,78510.16,5599170.60

# CAP EX SCHEDULE

In [ ]:
Cap_Ex_Schedule_DF = pd.DataFrame(columns=['Start Date', 'Duration (Months)', 'End Date'], index=['Defensive', 'Offensive'])

Defensive_Start_Date = datetime.strptime('1/31/21', '%m/%d/%y')
Defensive_Duration = 6
Defensive_End_Date = Defensive_Start_Date + relativedelta(months=Defensive_Duration)
Offensive_Start_Date = datetime.strptime('3/31/21', '%m/%d/%y')
Offensive_Duration = 12
Offensive_End_Date = Offensive_Start_Date + relativedelta(months=Offensive_Duration)

# Set values in DataFrame
Cap_Ex_Schedule_DF.at['Defensive', 'Start Date'] = Defensive_Start_Date
Cap_Ex_Schedule_DF.at['Defensive', 'Duration (Months)'] = Defensive_Duration
Cap_Ex_Schedule_DF.at['Defensive', 'End Date'] = Defensive_End_Date
Cap_Ex_Schedule_DF.at['Offensive', 'Start Date'] = Offensive_Start_Date
Cap_Ex_Schedule_DF.at['Offensive', 'Duration (Months)'] = Offensive_Duration
Cap_Ex_Schedule_DF.at['Offensive', 'End Date'] = Offensive_End_Date

Cap_Ex_Schedule_DF

                    Start Date Duration (Months)             End Date
Defensive  2021-01-31 00:00:00                 6  2021-07-31 00:00:00
Offensive  2021-03-31 00:00:00                12  2022-03-31 00:00:00

# UNIT RENOVATIONS

In [ ]:
Unit_Renovations_DF = pd.DataFrame(columns=[''], index=['Units Renovated / Month', 'Cost / Unit', 'Rent Premium'])

Units_Renovated_Month = units / Offensive_Duration
Cost_per_unit = 6000
Rent_Premium = 125

Unit_Renovations_DF.at['Units Renovated / Month', ''] = Units_Renovated_Month
Unit_Renovations_DF.at['Cost / Unit', ''] = Cost_per_unit
Unit_Renovations_DF.at['Rent Premium', ''] = Rent_Premium

Unit_Renovations_DF

Units Renovated / Month 12.50
Cost / Unit              6000
Rent Premium              125

# JOINT VENTURE ASSUMPTIONS

In [ ]:
JV_Assumptions_DF = pd.DataFrame(columns=['Promote', 'Pref', 'Splits'], index=['Hurdle #1', 'Hurdle #2', 'Hurdle #3', 'Hurdle #4'])

GP_Equity = 0.1

Promote_Hurdle2 = 0.15
Promote_Hurdle3 = 0.25
Promote_Hurdle4 = 0.4

Pref_Hurdle1 = 0.12
Pref_Hurdle2 = 0.16
Pref_Hurdle3 = 0.2
Pref_Hurdle4 = 5.0

Splits_Hurdle1 = GP_Equity
Splits_Hurdle2 = GP_Equity + ((1-GP_Equity)*Promote_Hurdle2)
Splits_Hurdle3 = GP_Equity + ((1-GP_Equity)*Promote_Hurdle3)
Splits_Hurdle4 = GP_Equity + ((1-GP_Equity)*Promote_Hurdle4)

JV_Assumptions_DF.at['Hurdle #2','Promote'] = Promote_Hurdle2
JV_Assumptions_DF.at['Hurdle #3','Promote'] = Promote_Hurdle3
JV_Assumptions_DF.at['Hurdle #4','Promote'] = Promote_Hurdle4
JV_Assumptions_DF.at['Hurdle #1','Pref'] = Pref_Hurdle1
JV_Assumptions_DF.at['Hurdle #2','Pref'] = Pref_Hurdle2
JV_Assumptions_DF.at['Hurdle #3','Pref'] = Pref_Hurdle3
JV_Assumptions_DF.at['Hurdle #4','Pref'] = Pref_Hurdle4
JV_Assumptions_DF.at['Hurdle #1','Splits'] = Splits_Hurdle1
JV_Assumptions_DF.at['Hurdle #2','Splits'] = Splits_Hurdle2
JV_Assumptions_DF.at['Hurdle #3','Splits'] = Splits_Hurdle3
JV_Assumptions_DF.at['Hurdle #4','Splits'] = Splits_Hurdle4
JV_Assumptions_DF

          Promote Pref Splits
Hurdle #1     NaN 0.12   0.10
Hurdle #2    0.15 0.16   0.24
Hurdle #3    0.25 0.20   0.33
Hurdle #4    0.40 5.00   0.46

# EXIT ASSUMPTIONS

In [ ]:
Exit_Assumptions_DF = pd.DataFrame(columns=[''], index=['Exit Date', 'Exit Cap Rate', 'Sale Price', 'Exit Closing Costs'])

Exit_Date = acquisition_date1 + relativedelta(months=hold_period)
Exit_Cap_Rate = 0.06
Exit_Closing_Costs = 0.01

Exit_Assumptions_DF.at['Exit Date', ''] = Exit_Date
Exit_Assumptions_DF.at['Exit Cap Rate', ''] = Exit_Cap_Rate
Exit_Assumptions_DF.at['Exit Closing Costs', ''] = Exit_Closing_Costs

Exit_Assumptions_DF

Exit Date           2025-12-31 00:00:00
Exit Cap Rate                      0.06
Sale Price                          NaN
Exit Closing Costs                 0.01

# REVENUE & EXPENSE ASSUMPTIONS

In [ ]:
Rev_Exp_Assumptions_DF = pd.DataFrame(columns=['Year', 'Occupancy', 'Rent Growth', 'Other Revenue Growth', 'Expense Growth', 'RET Growth' ], index=[])

years = range(1, 12)
Rev_Exp_Assumptions_DF['Year'] = years

initial_occupancy = 0.90
target_occupancy = 0.93
growth_rate = 0.01

def calculate_occupancy(year):
    return min(initial_occupancy + growth_rate * (year - 1), target_occupancy)

Rev_Exp_Assumptions_DF['Occupancy'] = [calculate_occupancy(year) for year in years]

rent_growth_year1 = 0.0
rent_growth_year2 = 0.02
rent_growth_year3 = 0.03

Rev_Exp_Assumptions_DF['Rent Growth'] = [
    rent_growth_year1 if year == 1 else
    rent_growth_year2 if year == 2 else
    rent_growth_year3 if year == 3 else
    rent_growth_year3
    for year in years
]

Other_revenue_growth_year1 = 0.0
Other_revenue_growth_year2 = 0.03
Other_revenue_growth_year3 = 0.03

Rev_Exp_Assumptions_DF['Other Revenue Growth'] = [
    Other_revenue_growth_year1 if year == 1 else
    Other_revenue_growth_year2 if year == 2 else
    Other_revenue_growth_year3 if year == 3 else
    Other_revenue_growth_year3
    for year in years
]

Expense_growth_year1 = 0.0
Expense_growth_year2 = 0.02
Expense_growth_year3 = 0.03

Rev_Exp_Assumptions_DF['Expense Growth'] = [
    Expense_growth_year1 if year == 1 else
    Expense_growth_year2 if year == 2 else
    Expense_growth_year3 if year == 3 else
    Expense_growth_year3
    for year in years
]

RET_growth_year1 = 0.0
RET_growth_year2 = 0.03
RET_growth_year3 = 0.03

# Set the "Rent Growth" column values
Rev_Exp_Assumptions_DF['RET Growth'] = [
    RET_growth_year1 if year == 1 else
    RET_growth_year2 if year == 2 else
    RET_growth_year3 if year == 3 else
    RET_growth_year3
    for year in years
]

Rev_Exp_Assumptions_DF

,Year,Occupancy,Rent Growth,Other Revenue Growth,Expense Growth,RET Growth
0,1,0.90,0.00,0.00,0.00,0.00
1,2,0.91,0.02,0.03,0.02,0.03
2,3,0.92,0.03,0.03,0.03,0.03
3,4,0.93,0.03,0.03,0.03,0.03
4,5,0.93,0.03,0.03,0.03,0.03
5,6,0.93,0.03,0.03,0.03,0.03
6,7,0.93,0.03,0.03,0.03,0.03
7,8,0.93,0.03,0.03,0.03,0.03
8,9,0.93,0.03,0.03,0.03,0.03
9,10,0.93,0.03,0.03,0.03,0.03
10,11,0.93,0.03,0.03,0.03,0.03

# IN PLACE INCOME T-3

In [ ]:
Annual_total_rental_income = Total_Rental_Income_df.iloc[:, -3:].sum(axis=1) * 4
Annual_other_revenue_income = Total_Other_Revenue_df.iloc[:2, -3:].sum(axis=1) * 4
Annual_total_income = Total_Income_df.iloc[:, -3:].sum(axis=1) * 4


Annual_total_rental_income_DF = pd.DataFrame(Annual_total_rental_income)
Annual_total_rental_income_DF.columns = ['Total']
Annual_total_rental_income_DF.index = ['Net Effective Rent', 'Vacancy Loss', 'Non-Revenue Units', 'Bad Debt', 'Total Rental Income']

annual_other_revenue_income_df = pd.DataFrame(Annual_other_revenue_income)
annual_other_revenue_income_df.columns = ['Total']
annual_other_revenue_income_df.index = ['Utility Reimbursement', 'Other Income']

Annual_total_income_df = pd.DataFrame(Annual_total_income)
Annual_total_income_df.columns = ['Total']
Annual_total_income_df.index = ['Total Income']

Annual_total_income_DF = pd.concat([Annual_total_rental_income_DF, annual_other_revenue_income_df, Annual_total_income_df], axis=0)

Annual_total_income_DF

                           Total
Net Effective Rent    2195977.28
Vacancy Loss          -262879.72
Non-Revenue Units      -15554.64
Bad Debt               -15847.88
Total Rental Income   1901695.04
Utility Reimbursement   49573.16
Other Income           127574.04
Total Income          2078842.24

# IN-PLACE EXPENSES

In [116]:
In_Place_Expenses_DF = pd.DataFrame(columns=['Per Unit', 'Total' ], index=['Repairs & Maintenance', 'Turnover', 'Marketing', 'General & Administrative', 'Payroll', 'Management Fees', 'Utilities', 'Real Estate Taxes', 'Property Insurance', 'Capital Reserves', ' Total'])

Repairs_Maintenance_PU = 400
Turnover_PU = 150
Marketing_PU = 150
General_Admin_PU = 250
Payroll_PU = 600
Management_Fees = 0.03
Management_Fees_PU = Management_Fees_Total / units
Utilities_PU = 300
Real_Estate_Taxes_PU = Real_Estate_Taxes_Total / units
Property_Insurance_PU = 200
Capital_Reserves_PU = 200

Repairs_Maintenance_Total = Repairs_Maintenance_PU * units
Turnover_Total = Turnover_PU * units
Marketing_Total = Marketing_PU * units
General_Admin_Total = General_Admin_PU * units
Payroll_Total = Payroll_PU * units
Management_Fees_Total = Annual_total_income_DF.loc["Total Rental Income"].values[0] * Management_Fees
Utilities_Total = Utilities_PU * units
Real_Estate_Taxes_Total = 400000
Property_Insurance_Total = Property_Insurance_PU * units
Capital_Reserves_Total = Capital_Reserves_PU * units

# Fill in the DataFrame
In_Place_Expenses_DF.at['Repairs & Maintenance', 'Per Unit'] = Repairs_Maintenance_PU
In_Place_Expenses_DF.at['Turnover', 'Per Unit'] = Turnover_PU
In_Place_Expenses_DF.at['Marketing', 'Per Unit'] = Marketing_PU
In_Place_Expenses_DF.at['General & Administrative', 'Per Unit'] = General_Admin_PU
In_Place_Expenses_DF.at['Payroll', 'Per Unit'] = Payroll_PU
In_Place_Expenses_DF.at['Management Fees', 'Per Unit'] = Management_Fees_PU
In_Place_Expenses_DF.at['Utilities', 'Per Unit'] = Utilities_PU
In_Place_Expenses_DF.at['Real Estate Taxes', 'Per Unit'] = Real_Estate_Taxes_PU
In_Place_Expenses_DF.at['Property Insurance', 'Per Unit'] = Property_Insurance_PU
In_Place_Expenses_DF.at['Capital Reserves', 'Per Unit'] = Capital_Reserves_PU
In_Place_Expenses_DF.at[' Total', 'Per Unit'] = In_Place_Expenses_DF['Total'].sum()



# Fill in the Total row
In_Place_Expenses_DF.at['Repairs & Maintenance', 'Total'] = Repairs_Maintenance_Total
In_Place_Expenses_DF.at['Turnover', 'Total'] = Turnover_Total
In_Place_Expenses_DF.at['Marketing', 'Total'] = Marketing_Total
In_Place_Expenses_DF.at['General & Administrative', 'Total'] = General_Admin_Total
In_Place_Expenses_DF.at['Payroll', 'Total'] = Payroll_Total
In_Place_Expenses_DF.at['Management Fees', 'Total'] = Management_Fees_Total
In_Place_Expenses_DF.at['Utilities', 'Total'] = Utilities_Total
In_Place_Expenses_DF.at['Real Estate Taxes', 'Total'] = Real_Estate_Taxes_Total
In_Place_Expenses_DF.at['Property Insurance', 'Total'] = Property_Insurance_Total
In_Place_Expenses_DF.at['Capital Reserves', 'Total'] = Capital_Reserves_Total
In_Place_Expenses_DF.at[' Total', 'Total'] = In_Place_Expenses_DF['Total'].sum()
In_Place_Expenses_DF.at[' Total', 'Per Unit'] = In_Place_Expenses_DF.at[' Total', 'Total'] / units





In_Place_Expenses_DF

                         Per Unit     Total
Repairs & Maintenance         400     60000
Turnover                      150     22500
Marketing                     150     22500
General & Administrative      250     37500
Payroll                       600     90000
Management Fees            380.34  57050.85
Utilities                     300     45000
Real Estate Taxes         2666.67    400000
Property Insurance            200     30000
Capital Reserves              200     30000
 Total                    5297.01 794550.85

# **MODEL**